[2016-03-02 15:17] henrikbjorn commented on #394
I get this in my React project:

<img width="809" alt="skaermbillede 2016-03-02 kl 16 16 27" src="https://cloud.githubusercontent.com/assets/19725/13464593/261dd884-e092-11e5-979b-158c44189a42.png">

It occurs in all browsers, Safari, Chrome, Firefox

[2016-03-02 15:18] henrikbjorn commented on #394
It would seem that when Faye does `new Promise()` it uses the global provided by the browser or a Polyfill, and because of that, the property isn't available.

[2016-03-02 21:22] jcoglan commented on #394
@henrikbjorn I'm going to need specific code to reproduce this error in order to make any more progress on it. Also, how did you determine that Faye is using the built-in `Promise` class rather than its own implementation?

[2016-03-02 21:25] jcoglan commented on #426
This seems like more of a question than an issue, and I see you asked on the mailing list. I personally don't know enough about Angular or Jasmine to be sure what the question means, sorry I can't be more help.

I'm going to close this issue since it's not something I can action; I recommend following up on the mailing list with more information about your problem, or consult the Angular and Jasmi

[2016-03-02 21:25] #426 closed

[2016-03-02 21:27] jcoglan commented on #425
This seems like an integration issue rather than a bug in Faye specifically, but beyond that I'm not sure what to suggest. Faye requests should not be routed and handled by Rails.

Have you made sure Faye and Rails are running as separate servers? Have you checked which server your client is connecting to?

[2016-03-03 09:27] henrikbjorn commented on #394
@jcoglan I created a gist here https://gist.github.com/henrikbjorn/b25363fa82a303e9631f

The output from the Chrome DevTools Console is attached.
![skaermbillede 2016-03-03 kl 10 25 21](https://cloud.githubusercontent.com/assets/19725/13490009/5bcb3858-e12a-11e5-8962-b9e3cf87b99b.png)

Using the global Promise object was a theory, but it doesn't seem like thats the issue. There is one subscription

[2016-03-04 00:10] squadette opened #427 "SyntaxError: Unexpected end of input in EventSource.n.onmessage"
We observe persistent error which looks like this in Sentry:

SyntaxError: Unexpected end of input in EventSource.n.onmessage
browser = Chrome 48.0

[code]

(sorry, this is all I got, but i hope that this is enough.  At least it should not die when receiving junk from EventSource. I don't even know what is in this EventSource message.

I "solved" it by disabling "eventsource", but probably this ne

[2016-03-07 21:12] jcoglan commented on #394
@henrikbjorn Thanks a lot for the test case. The issue is now fixed as of https://github.com/faye/faye/commit/e7e6c975a28e748770325c14e0ead09a3d747bb9.

[2016-03-07 22:35] jcoglan commented on #427
I'd need to know the value of `e.data` in this scenario to know what's causing the error.

It's supposed to be a valid JSON string, the same as is sent over WebSocket connections, but the design of the EventSource protocol means the client may read a partial message that's sent before the connection is terminated.

[2016-03-09 00:01] squadette commented on #427
Okay, I added debugging and deployed it live.  TL;DR: the message looks like JSON which abruptly ends and there is "retry: 5000" string attached to its end.

This is the string content of e.data:

[code]

I have a very strange observation: for some reason this bug only happens for Turkish users of my site (I checked several dozens of errors and they're all like this).  Also, the browser is always

[2016-03-09 20:59] zeisss opened #428 "Bayeux link on the homepage leads to 404"
Your homepage at http://faye.jcoglan.com/ contains a link for a Bayeux description at http://svn.cometd.org/trunk/bayeux/bayeux.html - which seem to be no longer available.

[2016-03-15 08:50] toomus commented on #421
@jcoglan thanks for reply. The cause of all my problems described above was "web-console" gem, which is built in into Rails. Finally the application works fast :)

[2016-03-17 22:39] jcoglan commented on #428
This is a duplicate of #413 and is fixed in `master`. The fix will be deployed along with the next release.

[2016-03-17 22:39] #428 closed

[2016-03-17 22:42] jcoglan commented on #371
@matthisk Faye currently requires a build step to create the package from source -- you need to run `npm run build` from the root of the repo.

This will change in the next major release, which will migrate to standard node modules for everything and generate the browser client with webpack.

Unfortunately as I work on Faye in my spare time, I'm unable to make any promises about when the current w

[2016-03-17 22:42] #371 closed

[2016-03-17 22:44] jcoglan commented on #371
@matthisk Watch for the `node-modules` branch to land on `master`, then you should be able to install directly from git.

[2016-03-17 22:54] franck34 commented on #371
@jcoglan thank you james

[2016-03-17 22:59] jcoglan commented on #427
Are you able to find out the full text of messages are triggering truncated `EventSource` messages?

It's inherent in the EventSource protocol that a message may be partially sent and the client is not able to tell. WebSocket and vanilla HTTP do not have this problem so using them instead of EventSource seems like a reasonable fix in the mean time.

[2016-03-17 23:12] squadette commented on #427
the full text of messages is just the JSON I'm publishing.  I don't see anything suspicious, and the byte lenght is also varying and I don't see obvious patterns.

Well, yes, disabling eventsource works perfectly.   I don't even know what advantages EventSource has.

Thanks!

[2016-03-18 15:07] etmind opened #429 "it is possible communication between node.js servers ?"
i have running few node.js servers on separate machines, it is possible set one server as master other as   clients and communicate over faye without web browsers ? thanks

[2016-03-18 18:27] sodabrew commented on #401
@jcoglan I think this issue can be closed :)

[2016-03-18 18:32] sodabrew opened #430 "EventMachine 1.2.0 has been released!"
Hi there! I've released EventMachine 1.2.0, which merges in the major work from EventMachine-LE 1.1.x, including better support for IPv6 and SSL/TLS. Please give it a try with Faye to make sure I haven't broken anything for this downstream library!

[2016-03-19 15:45] khadzhinov commented on #401
Currently we have same issue so we turn faye off. I think problem right now in simultaneous connections, so we can't serve them.

[2016-03-22 08:18] gautamg795 opened #431 "Disabling callback-polling"
I'm trying to use Faye in React Native, where there's no `document` tag for callback-polling's JSON-P work. From what I understand, the Bayeux spec requires callback polling for a cross-origin connection, but is there any way to override this or work around it? (Simply using client.disable leaves me with a 'Could not find usable connection type' message)
Thanks.

[2016-03-22 17:52] Bhullnatik commented on #431
We are having the same issue with my team. The solution we came to was to fork `faye` and force the use of `XmlHttpRequest`. We would be very interested in an out-the-box solution though. 😁

[2016-03-23 08:41] jcoglan commented on #431
The `long-polling` transport is only considered usable if the endpoint is on the same origin as the document:

https://github.com/faye/faye/blob/e7e6c975a28e748770325c14e0ead09a3d747bb9/javascript/transport/xhr.js#L53-L55

`URI.isSameOrigin()` compares the supplied endpoint to the global `location` object:

https://github.com/faye/faye/blob/e7e6c975a28e748770325c14e0ead09a3d747bb9/javascript/util/

[2016-03-23 08:44] jcoglan commented on #429
Yes. You create a Faye server on one of your hosts:

[code]

Then use the Client from Node on your other hosts to connect to that server:

[code]

[2016-03-23 08:45] jcoglan commented on #401
I'm getting conflicting messages about whether EventMachine has fixed this issue -- should I close it or not?

[2016-03-23 08:48] jcoglan commented on #430
Thanks a lot for the heads-up :) I've just updated and run the tests, and everything looks okay!

[2016-03-23 08:48] #430 closed

[2016-03-23 08:51] jcoglan commented on #427
Sorry, I meant do you have a specific example of a message that breaks EventSource and causes your JSON to be truncated? i.e. where the message in the `onmessage` handler is not the same as the message you published.

The advantage of EventSource is that it's a simpler protocol than WebSocket and since it's closer to streaming HTTP than WebSocket's bidirectional binary protocol, it gets through HT

[2016-03-23 09:03] gautamg795 commented on #431
React Native does not have a window.location object, but I was able to actually get around my aforementioned issues with the following code, adapted from what I found in someone's gist:
[code]
(It's important to note `url.parse()` sets `window.location.port` to `null` if not specified, whereas Faye will expect empty string in `URI.isSameOrigin()`; so if you are not specifying an explicit port, set

[2016-03-23 09:11] jcoglan commented on #431
It sounds as though making `URI.isSameOrigin()` return `true` if there's no `location` object would solve this issue.

[2016-03-23 09:25] Bhullnatik commented on #431
I'm not sure to what extends this is avoidable but there may be a weird `location` object when using the debugger with React-native though:
<img width="357" alt="screen shot 2016-03-23 at 10 22 56 am" src="https://cloud.githubusercontent.com/assets/2040807/13980884/408a61e2-f0e1-11e5-915b-0d3387334c97.png">

[2016-03-23 09:27] gautamg795 commented on #431
Ah, didn't think about debugger. One React-Native specific solution would be to check if `window.navigator.product === "ReactNative"`, though I don't know if you're opposed to a product-specific check in `isUsable` / `isSameOrigin`

[2016-03-23 11:41] mulvaney commented on #401
I switched to the JavaScript version of Faye so I don't know if this is fixed in Ruby/event machine or not.

-Mike

[2016-03-28 14:13] 350050183 commented on #228
It looks like wss(web socket ) protocol not compitable with https.

[2016-03-28 14:18] jcoglan commented on #228
@350050183 I'm not sure what you mean or how it relates to this issue. Could you give a more detailed explanation?

[2016-03-28 14:24] 350050183 commented on #228
It does not relate to this project,I just google the problem "Connection' header value is not 'Upgrade' ",it is about the nodejs,when i disable ssl connected to my chat server,the issue is gone.

[2016-03-28 14:53] jcoglan commented on #228
We have had issues with missing `Connection` headers before, but that was due to a bug in a pre-release version of Passenger. We've also had issues with SSL compatibility before but that was a bug in the Node `https` module not handing off incoming decrypted data to the `data` listener.

If you can provide a small example program that demonstrates the problem happening I can investigate further. Y

[2016-03-28 17:04] jcoglan commented on #431
I would strongly prefer to avoid any form of vendor sniffing if it all possible, because it's brittle and tends to be hard to work around when it stops working. Is there any reliable way we can make this work using only feature detection?

[2016-03-28 17:04] jcoglan commented on #401
@mulvaney in that case I'm going to close this issue, since it seems unlikely there'll be more feedback on it.

[2016-03-28 17:04] #401 closed

[2016-03-29 12:15] Bhullnatik commented on #431
I tried to look over React-native's [XHR implementation](https://github.com/facebook/react-native/blob/master/Libraries/Network/XMLHttpRequestBase.js) but I didn't see anything in particular to recognize the feature. Other than trying a request on a specific server to make sure the cross-domain is working, I don't see much more options. :/

[2016-04-01 14:51] dhakadamit opened #432 "High Availability and Scalability Recommendations"
We are a real-time tick by tick data provider for Financial Markets. We use Faye for the distribution of this information in real-time.

**Current Stats:**
80K-150K ops/second with only 1K-3K writes/second
3K-5K connected clients

**Expected Growth:**
In the next six months, we expect the following traffic
1M-5M ops/second with about 10-50K writes/second
100K-500K connected clients

**Current Arch

[2016-04-02 15:35] karneaud commented on #375
@jcoglan would I be able to get a bit more clarity on this subject?

I want to close a connection on the **browser client** side where the browser client mostly **publish** and is not **subscribed**

How can I **"force"** the disconnection?

[2016-04-04 19:58] jcoglan commented on #375
@karneaud You can't "force" any client to disconnect unless you've explicitly put measures in place to do so, e.g. requiring an authorization method that you can revoke dynamically. You need to have written extensions that allow you to do this, the Bayeux protocol does not provide any way of doing it out of the box.

[2016-04-04 20:00] jcoglan commented on #431
I'm very wary of putting in vendor sniffing code for a platform we don't explicitly support and that's unlikely to get tested, and which may have even more unknown behaviour apart from adding a `location` object in debug mode.

You best bet for now is to patch the client like so:

[code]

[2016-04-04 21:13] rauhryan commented on #375
I was able to write a simple extension to "force" disconnections.

https://github.com/huboard/huboard-web/blob/master/vendor/gems/faye_extensions/lib/faye_extensions/disconnect.rb

I had a very unique use case to need this extension, so I don't think it would ever be useful to anyone else.

My use case was that, we self hosted faye within the same ruby on rails application by mounting the faye eng

[2016-04-04 22:12] karneaud commented on #375
@rauhryan  hmmmmmm....your scenario seems to have a similar intent as the one I want to do now. I'm also using faye as a middle service on nodejs. Though my expected traffic is going to be very low....It needed to be such that it was not going to be a "multi user" service. So i have to make sure the users would be immediately disconnected before another could connect otherwise it could cause a sor

[2016-04-14 15:42] JanStevens opened #433 "Ruby orphaned client when server returns error response on disconnect"
Hello,

I have the following setup, the faye server runs in the cloud and a raspberry pi runs the `Faye::Client`. For some odd reason the client loses its server connection (for example unplug ethernet cable in another subnet => pi new address but code is still using old connect) anyways shit hits the fan, but thats not my issue.

What I do now is detect this (using ping/pong) and then disconnect

[2016-04-27 21:49] karneaud opened #434 "Message received promised"
if a client publishes a message to a channel and no one is subscribed to the channel......is the message still received?

If no then why would I not get a failed message on a promised subscription when I published a messaged to a channel no one is subscribed to?

[2016-04-30 13:26] jcoglan commented on #434
I assume you're referring to this API:

[code]

When this code prints `success`, it means it was received and considered valid by the server, regardless of how many clients it will be forwarded to. `failure` means the server considered the message invalid, not that the message was not sent to any clients.

The client API does not provide any feedback about how many clients the message was sent to,

[2016-04-30 21:24] jcoglan commented on #241
@ikaiser There's nothing in your configuration to enable SSL for your Thin server. Are you accessing the Thin server via a proxy that terminates SSL? If not, you should look up Thin's options for turning on SSL, providing a certificate and so on -- try `thin --help` for more information.

[2016-04-30 21:37] jcoglan commented on #417
This should be fixed in https://github.com/faye/faye/commit/210a870601c1cd64217416c289a710fb07f31e44.

[2016-04-30 21:37] #417 closed

[2016-04-30 21:40] jcoglan commented on #417
Apologies, that commit contains an error, see https://github.com/faye/faye/commit/a3d767210f6fcaac16e6b6d3be7e4b01d4ecbcb5 instead.

[2016-04-30 21:43] jcoglan commented on #420
To be honest, I don't recall why that was added, and if it produces the improvements you claim I'm happy to remove it and reconsider if anyone reports problems as a result.

https://github.com/faye/faye/commit/d97c3a949e2d09ea38c48bb56d7f112e171b61a2

[2016-04-30 21:43] #420 closed

[2016-05-01 10:07] jcoglan commented on #432
I tend not to give out specific recommendations in this area since that's usually better done by someone who actually works on your stack. However I will mention a few things:

The [faye-redis](https://gtihub.com/faye/faye-redis-node) that I created is under-maintained, since I don't have much time to work on it and I'm not that knowledgeable about newer Redis features.

However, in order to remov

[2016-05-01 10:17] jcoglan commented on #433
I suspect this is happening because the client only shuts down the dispatcher (the object that deals with messages being sent) if it gets a successful `/meta/disconnect` response:

https://github.com/faye/faye/blob/a99192e7823dcf628b1a3e20a6aa738ea3027ce1/lib/faye/protocol/client.rb#L157

This means any other messages that were in flight when the client disconnected could be retried, and this migh

[2016-05-01 10:33] jcoglan commented on #363
I'm going to close this issue since I've not heard any response to my question, but if you have more information please re-open and leave another comment :)

[2016-05-01 10:33] #363 closed

[2016-05-01 10:39] jcoglan commented on #421
I'm going to close this since it sounds like you found the source of the problem, but please re-open if you have more questions :)

[2016-05-01 10:39] #421 closed

[2016-05-01 10:43] jcoglan commented on #429
I'm going to close this issue since I believe I've answered your question, but please leave another comment if you need more help :)

[2016-05-01 10:43] #429 closed

[2016-05-01 14:03] karneaud commented on #434
Is there any way we can get a "read receipt" from clients who have received it?

I guess the client can always publish a notification back to the source but I'm just thinking something builtin so we can hook into

[2016-05-01 14:03] #434 closed

[2016-05-02 07:03] JanStevens commented on #433
Thanks for the reply,

We deploy Faye Client on small Raspberry Pi computers that are placed in remote locations. The internet connection is not always that great. What we noticed is that for some reason the internet connection is lost, the DHCP lease gets expired and then the Raspberry Pi comes back online.

The Pi gets a new IP address and is again connected with the internet (we can reverse SSH

[2016-05-12 14:26] suprememoocow commented on #420
Thanks James. I'll run this change on the Gitter staging environment and keep an eye out for any oddness.

[2016-05-19 21:50] jcoglan commented on #434
No, the Bayeux protocol does not require clients to confirm receipt of messages. It would make the protocol much more chatty, and would be prone to its own errors. A client may receive a message but fail to send a receipt to the server and back to the sender.

I usually recommend that you address such concerns in the application layer, since each application's needs in this area can be quite diffe

[2016-05-19 21:59] jcoglan commented on #425
Did you have any further feedback on this issue, or should I close it?

[2016-05-19 22:00] jcoglan commented on #418
Did my last comment solve your problem? Can I close this issue?

[2016-05-19 22:03] jcoglan commented on #403
I'm going to close this in light of my comments above. JSON has been removed now we've moved to using Node-style modules for the client. I've looked into using a third-party Promise library but most of the big ones make the Faye client even bigger than it is now.

[2016-05-19 22:03] #403 closed

[2016-05-20 00:15] jamesotron opened #435 "Ruby client doesn't make connection to remote server (EM >= 1.2)"
So I'm still trying identify the source of this problem, however the following script:

[code]

works fine when I use eventmachine 1.0.9.1 and below, but times out on 1.2.0 and above. It never actually makes the outgoing HTTP connection (I can prove this because `nc -l 4000` doesn't exit).

Posting here in case someone else comes across the same problem and can't figure it out.

I'll update this i

[2016-05-20 01:16] yanhackcode15 commented on #425
Yep. Can close.

- Yan

[2016-05-20 06:21] andreyshade commented on #418
Yes, you can close this issue. Thanks

[2016-05-20 08:22] #418 closed

[2016-05-20 08:23] #425 closed

[2016-05-30 16:36] jcoglan commented on #435
I can't reproduce this issue on my local machine running EventMachine 1.2.0.1 on the server and client. I've tried running the server with Thin, Puma, Rainbows and Goliath and they all work. I've also tried running against the Node.js server and that's fine.

If you do find out what's causing this I'll accept a PR. Sorry I can't be more help right now.

[2016-05-30 16:49] jcoglan commented on #432
I'm going to close this issue because I don't think there's any more for me to do here and I'm trying to close up a release. If you have any more questions, do please open another issue :)

[2016-05-30 16:49] #432 closed

[2016-05-30 17:06] jcoglan commented on #431
I've added a check for `navigator.product` in a0d3598.

This will be released in 1.2.0.

[2016-05-30 17:06] #431 closed

[2016-05-30 17:25] jcoglan commented on #427
I've added code in a8727f0a692a1d29ca60274d9ca6e2de9ef2cbbf to handle cases where invalid messages arrive via EventSource.

[2016-05-30 17:25] #427 closed

[2016-05-30 17:27] jcoglan commented on #410
Do you have any further feedback on my last comment, or should I close this issue?

[2016-05-30 17:29] squadette commented on #427
@jcoglan thanks!  but what will happen?  will the message be discarded or somehow retried?

[2016-05-30 17:33] jcoglan commented on #427
With the EventSource transport, messages arriving over the socket are messages from other clients, rather than server replies to the client's own messages. The client has no way to detect that it should have received such messages, and they will be lost.

You should implement something in your application to guard against this if it's a problem for you. This kind of error can in principle happen t

[2016-05-30 17:34] jcoglan commented on #388
Do you have any further feedback on my last comment, or should I close this issue?

[2016-05-30 17:34] jcoglan commented on #365
I'm going to close this issue due to lack of feedback, but if you have more information that would help us solve the problem, please do re-open and leave comments :)

[2016-05-30 17:34] #365 closed

[2016-05-30 17:49] mikeptweet commented on #410
Faye uses JSONP,(which isn't allowed in a worker) to initiate the websocket connection so it doesn't work. You can close this issue if you have no intentions of supporting web workers.

[2016-05-30 18:03] jcoglan commented on #433
It just occurred to me it might help if I explain the client architecture a little; it might help you find out where the problem is. The client is essentially made of three objects:

    +--------+        +------------+        +-----------+
    | Client o------->| Dispatcher o------->| Transport |
    +--------+        +------------+        +-----------+

`Client` is the object you interact with,

[2016-05-30 18:07] jcoglan commented on #433
I should task: what timeout setting are you using on the server? The checks you're doing with ping/pong are essentially the same as what `Dispatcher` does: it automatically retries messages if they're not responded to quickly enough, and it bases its timeout on the value advertised by the server. If you think your client is not detecting errors quickly enough, it might be worth lowering your serve

[2016-05-30 18:19] jcoglan commented on #433
Some further thoughts: the unsuccessful `/meta/disconnect` response means `@dispatcher.close` is not called, and so the client might be leaving a WebSocket open. On the server (in the `RackAdapter` class), WebSockets are identified by the last `clientId` the server saw arrive via that connection, and so it might still be able to receive messages.

However, once a client's session expires (this hap

[2016-05-30 18:21] jcoglan commented on #410
I don't actually know all that much about Web Workers and which transports would be usable in one. Can it use XHR and WebSocket? Hows does the same origin policy affect workers?

It won't be possible to support cross-origin connections because the Bayeux protocol requires JSON-P to make those connections, but same-origin might work.

If you're able to send a minimal example of getting a worker set

[2016-05-30 18:31] jcoglan commented on #412
Do you have any more feedback on my last comment, or should I close this issue?

[2016-05-30 19:32] mikeptweet commented on #410
So in your main page ...

var client = new Faye.Client('http://localhost:8000/faye');

var worker = new Worker("http://localhost:8000.worker.js");

and worker.js should be

importScripts("http://localhost:8000/faye/client.js");
var client = new Faye.Client('http://localhost:8000/faye');

you can debug in chrome devtools by selecting the worker context in the
console

On Mon, May 30, 2016 at 2:21 P

[2016-05-30 20:04] jcoglan commented on #410
Turns out all we needed to make this work was to use the global `this` binding rather than `window` to refer to the global scope. b14b25417bf4ec97cce60b54f049193624be61ff makes your example code work in Chrome for me.

[2016-05-30 20:04] #410 closed

[2016-05-30 20:05] jcoglan commented on #410
(Webpack converts `global` references to refer to the global object, whatever that is.)

[2016-05-30 20:18] mikeptweet commented on #410
Awesome - thanks!

[2016-05-30 20:43] jamesotron commented on #435
Sweet. I'll close this for now.

[2016-05-30 20:43] #435 closed

[2016-05-31 09:50] JanStevens commented on #433
Hello,

Thanks for your explanation this clears up some bits.

Server Timings
[code]

Client
[code]

I'm going to step a little bit back and talk a bit more about why we started with our implementation of Ping/Pong and the manual disconnect (maybe this helps explaining why we got this far down the rabbit hole)

## Setup
So we have one faye server instance running on our cloud server. The server wi

[2016-05-31 11:00] mikeptweet commented on #410
any chance you can push this update out to npm?

[2016-05-31 11:45] jcoglan commented on #410
I'm currently in the process of getting 1.2 ready and tying up loose ends. Far as I'm aware there's no major work left to be done, so it should be done soon.

One improvement I have made is that if you're using browserify/webpack, you can now `require()` Faye directly from the git repo without any build steps and you should get the right thing, if you want to try it out before release.

[2016-06-03 15:53] tpham812 opened #438 "Memory usage"
I noticed that memory usage increases every time I publish a message. I am publishing every second. What can be causing this? Is it a memory leak?

[2016-06-08 09:06] JanStevens commented on #433
Can you send me your email to send the logs too?

They are quite big and contain some sensitive data

You can email me at jan[@]playpass[.]be (remove the brackets ofcourse)

Regards,

[2016-06-10 18:48] javan opened #439 "Release 1.1.3?"
There are quite a few commits (https://github.com/faye/faye/compare/1.1.2...master) that haven't been released yet. Any plans to cut a new version? I've locked a number of projects (https://github.com/rails/rails/commit/20c14c5f13704245c124310ce1edc035e0104e75, https://github.com/basecamp/trix/commit/774b218a876d472261b97bdbd00889b66a2d1dfb) to 1.1.1 to avoid https://github.com/faye/faye/issues/39

[2016-06-10 19:25] jcoglan commented on #439
I'm sorry there hasn't been a release for a while. I'm trying to finish up 1.2.0 -- there are a lot of changes on master that are too much for a patch release, including some substantial changes to the JS codebase.

One improvement that's in `master` is that if you're running browserify or webpack to build your project, `require('faye')` should get you the client without needing a build step in th

[2016-06-10 19:54] javan commented on #439
No worries, and thanks for the update.

That's still correct. Action Cable and Trix both use Blade (https://github.com/javan/blade) as a JavaScript build and test tool. Blade uses Faye for its test runner. So Faye isn't a dependency for Rails apps, just a dev dependency for testing and releasing Action Cable.

[2016-06-11 23:27] nsantiago2719 commented on #412
sorry. I forgot to close the issue. my bad

[2016-06-11 23:27] #412 closed

[2016-06-14 19:13] artworx opened #440 "lib/faye/protocol/server.rb:206:in `+': no implicit conversion of nil into Array"
[code]

Here is the application i am using: https://gist.github.com/artworx/10ed77d8f8dcdf5a2c4610037d046f7a

Every version after 1.0.3 of faye crashes with this error.

[2016-06-14 22:17] jcoglan commented on #440
Thanks for reporting this error. 8a20009 should fix things.

[2016-06-14 22:17] #440 closed

[2016-06-21 18:47] jcoglan commented on #438
Do you have some example code that demonstrates the issue happening?

I'd expect memory to increase initially as messages allocate memory and are stored inside the server waiting for other clients to retrieve them. As the server keeps running, GC runs should free up memory for reuse and so memory usage should stabilise.

[2016-06-21 19:34] jcoglan commented on #411
Did you have any feedback on my previous comment to clarify what you mean, or should I close this issue?

[2016-06-21 19:35] jcoglan commented on #439
I'm going to close this as I'm tidying things up before getting 1.2.0 out.

[2016-06-21 19:35] #439 closed

[2016-06-21 20:00] jcoglan commented on #415
Sorry it took so long for me to get to this issue but I'll try to answer your questions. Of course I'd like you to release your gem if you find it useful :)

I'm not aware of one, unless you want multiple logical Faye services with their own channel spaces. Faye uses EventMachine so each server runs in the same thread, and inside the server, most of the work is CPU-bound so you gain little by runn

[2016-06-21 20:37] jcoglan commented on #390
Sorry I've not got back to this issue in a while. I'm now catching up before shipping 1.2.0.

For reasons [I gave in #400](https://github.com/faye/faye/issues/400#issuecomment-149024971), I'm not going to add support for the `subscribe()` promise yielding a `data` field from the response. Briefly, it's because that call doesn't correspond to a single call to the server, especially in the event of

[2016-06-21 21:01] jcoglan commented on #388
I'm going to close this issue due to lack of feedback. If you do have any further comments, please do re-open :)

[2016-06-21 21:01] #388 closed

[2016-06-21 21:40] jcoglan commented on #433
I don't have an awful lot of time to work on issues at the moment and I suspect that staring at huge log files without access to your system won't get me very far.

The ping/pong mechanism you describe under 'Our measures' is exactly what the client already does using `/meta/connect`: if it doesn't receive a response to this message within a given time interval, it retries. (This logic applies to

[2016-06-27 22:26] jcoglan commented on #439
Just letting you know 1.2.0 has been released: https://groups.google.com/forum/#!topic/faye-users/_0kTHXciUGs

[2016-06-27 22:27] jcoglan commented on #435
Just letting you know 1.2.0 has been released: https://groups.google.com/forum/#!topic/faye-users/_0kTHXciUGs

[2016-06-27 22:28] jcoglan commented on #420
Just letting you know 1.2.0 has been released: https://groups.google.com/forum/#!topic/faye-users/_0kTHXciUGs

[2016-06-27 22:29] jcoglan commented on #394
Just letting you know 1.2.0 has been released: https://groups.google.com/forum/#!topic/faye-users/_0kTHXciUGs

[2016-06-27 22:29] jcoglan commented on #377
Just letting you know 1.2.0 has been released: https://groups.google.com/forum/#!topic/faye-users/_0kTHXciUGs

[2016-06-27 22:40] jamesotron commented on #435
Thanks!

[2016-06-28 13:25] matthisk commented on #411
You are right, I can not seem to reproduce this issue in a consistent manner on a code example with only very simple middleware. There must have been something else I was doing wrong before. Consider this question as solved.

[2016-06-28 13:25] #411 closed

[2016-07-01 20:50] bmatcuk commented on #394
It looks like the 1.2.x client has problems communicating with a 1.1.x server, so... to anyone who's stuck on the 1.1.x branch as I am, I've backported this fix to 1.1.2 to create a sort of "unofficial" 1.1.3: https://github.com/bmatcuk/faye

I've also included a branch called [1.1.3-built](https://github.com/bmatcuk/faye/tree/1.1.3-built) that contains the built output (ie, the 1.1.3-built branch

[2016-07-03 18:24] jcoglan commented on #394
@bmatcuk Can you describe what problem you're having using the new client and provide some example code? Incompatibilities like that are considered regressions and I'd like to fix it.

[2016-07-05 02:44] stemail23 opened #444 "v1.2.0 seems to have introduced breaking API changes"
I'm using faye module indirectly (via jsforce module). It seems to me that v1.2.0 of faye has introduced breaking API changes, as `Faye.Transport` does not seem to exist anymore. I haven't dug deep, but it looks like this has broken semver, and this should have been a major version bump.

On a related topic, I notice that faye module uses `"*"` versioning for several dependencies (asap, csprng etc

[2016-07-05 04:42] bmatcuk commented on #394
I'm afraid I can't be much help as I'm in a bit of a crunch right now... it was easier for me to cherry-pick this commit into the 1.1.2 branch than to debug the issues with 1.2.0.

I can tell you our server is running v1.1.2 in ruby with a custom extension and I've monkeypatched some of the Faye Engine code (which is why I don't want to upgrade the server to 1.2.0). If I tried using the 1.2.0 clie

[2016-07-05 08:11] jcoglan commented on #444
I'll caveat this by saying my modules don't explicitly follow semver, and that I believe it provides much weaker guarantees than those that are claimed for it. However, I try to follow the spirit of semver, roughly, but not to the letter. For example, I will sometimes use a major version bump when a substantial amount of the internals of a project are rewritten, even if there were no API changes.

[2016-07-05 10:15] stemail23 commented on #444
Thanks for the reply. As I mentioned, I'm only consuming faye indirectly as a dependency of jsforce. If, as you mention, Transport is intended as a private element, then your argument for a minor version bump in this case is valid, and I make no judgement on the jsforce developer's choice of use of your library.

As regards your general observations on semver, and robust dependency declarations, w

[2016-07-05 17:01] jcoglan commented on #444
It looks like `jsforce` is digging deep into Faye's private APIs, e.g.:

https://github.com/jsforce/jsforce/blob/844d3bfde5233c0ead000428801cb4b41bb3a57e/lib/api/streaming.js#L130-L143

Code like this wouldn't even be safe against patch releases.

[2016-07-05 23:14] stemail23 commented on #444
It's a fair point, it seems like jsforce is attempting to leverage some of the deeper lying, non-public, functionality of your modules, which is the root cause of the issue. I also notice that the author has now patched the crash in his code caused by this approach. Happy for you to close this issue as answered.

[2016-07-06 00:11] #444 closed

[2016-07-13 10:28] wshager opened #445 "Path starting with /service fails"
I've created a test like the one on https://faye.jcoglan.com/ and the only thing I changed was change /messages to /service and now the test fails. Is this a reserved path? Where could I have found that?

[2016-07-13 10:36] wshager commented on #445
As I understand it the Bayeux spec has a standard service channel which isn't implemented in Faye. I'll look into it some more.

[2016-07-13 10:36] #445 closed

[2016-07-13 23:05] ginjo commented on #415
Thanks for the thoughtful answers! I'll mull these over and apply your advice to the gem-in-progress.

[2016-07-14 10:20] puzrin commented on #386
@jcoglan FYI `require('websocket-driver/lib/websocket/driver/base')` is broken with npm3, because it can optimize modules location (but as far as i know, there are no guarantee that module will be moved always)

[2016-07-19 18:04] proggga opened #446 "Python client, does it real?"
Sorry for stupid question, I want subscribe to faye from python, does it real?
Please help me.

[2016-07-19 19:23] jcoglan commented on #446
Faye does not have a Python implementation, but it implements a standard protocol called Bayeux. You can probably find something useful by searching for "python bayeux client".

[2016-07-27 06:50] proggga commented on #446
Thanks you very much, I found some projects for it

[2016-07-27 06:50] #446 closed

[2016-07-29 17:33] justindujardin opened #447 "Updating to 1.2.2 with Chrome time throttling"
### Problem

Recent versions of Chrome browser throttle time callbacks to pages when in the background or when the tab is not active. This resulted in frequent websocket disconnects on `1.1.2`, so we monkey patched the `Faye.Transport.WebSocket.prototype._ping` method to receive time updates from a WebWorker (which is not subject to time throttling.)

While updating to `1.2.2` to get the fix from

[2016-07-30 14:14] jcoglan commented on #447
I'm not sure what you mean by 'time callbacks' or 'time updates'. Can you clarify what the problem is, and how your patch fixes it?

[2016-07-31 15:47] justindujardin commented on #447
`global.setTimeout` is used internally in Faye.  When running in Chrome, and not the active tab, the callback functions for `setTimeout` and `setInterval` are not invoked on time. A setTimeout call with a 500ms delay may have its callback invoked 5 seconds later. This presents a problem for Faye because over time the ping messages become further and further behind and eventually the client connect

[2016-07-31 17:07] sterpe commented on #447
What about requestAnimationFrame or window.postMessage to count ticks...are those throttled too?

[2016-07-31 18:23] jcoglan commented on #447
If you're using Browserify, Webpack or similar build tool you can access the WebSocket transport like this:

[code]

As of 1.2, Faye is distributed as the actual source tree of Node modules, rather than as one big blob, so you can still access individual classes within that tree.

[2016-08-10 07:47] liudangyi opened #448 "URI#find_proxy returns a URI, rather than a string"
https://github.com/faye/faye/blob/master/lib/faye/transport/transport.rb#L20:

      @proxy[:origin] ||= @endpoint.respond_to?(:find_proxy) ?
                          @endpoint.find_proxy :
                          nil

`@endpoint.find_proxy` returns a URI.

https://github.com/faye/faye/blob/master/lib/faye/transport/http.rb#L57:

      if @proxy[:origin]
        uri = URI.parse(@proxy[:origin])

[2016-08-11 13:04] mirekm commented on #447
@justindujardin Thanks for sharing your earlier solution. Have you eventually came up with some fix addressing the issue for the 1.2?

[2016-08-11 14:30] jcoglan commented on #448
Thanks for reporting this. It's fixed in c0e1359.

[2016-08-11 14:30] #448 closed

[2016-08-11 15:21] AleksandrLeontev commented on #447
Still have this problem: "Uncaught TypeError: Cannot read property '_state' of undefined"
And also faye mount for me 1.1.1 client JS library, but I use faye 1.2.2

[2016-08-11 16:00] jcoglan commented on #447
@AleksandrLeontev Your comment doesn't seem related to this issue -- can you open a new one to avoid spamming the other people in this thread?

The `_state` problem is #394 which was fixed in 1.2.0. I'm not sure why you're still getting a 1.1 client but if you have details that would help me reproduce this issue, please open a new issue.

[2016-08-11 19:24] mirekm commented on #447
Also, shouldn't the issue in question be handled by longer timeout (on both server and client)? As far as I understand, the `_ping` method tiggered by `setTimeout` will be eventually called on the browser when the tab is inactive but just in a little less predictable manner and later than normally?

[2016-08-12 08:54] AleksandrLeontev commented on #447
@jcoglan yes, sorry. it was my mistake.
I just replace gem declaration from master branch to stable repo.
gem 'faye', github: 'faye/faye' ->  gem 'faye'

yes, #394 works for me now, thanks.

[2016-08-21 14:09] dharmax opened #449 "A time wasting, easy to fix issue: there's no exception if data isn't provided in publish(...)"
i wasted HOURS just because of that... Please, for the sake of humanity, just properly document the fact that data is mandatory and throw an exception if such was not provided....

[2016-08-22 19:29] jcoglan commented on #449
I've made a change in 3615453 that makes the server return an error for published messages with no `data` field. This should result in you seeing rejected promises from `publish()`:

[code]

[2016-09-28 17:19] tumayun opened #450 "Can you remove multi_json ?"
See https://github.com/rails/rails/pull/10576

[2016-09-28 19:42] jcoglan commented on #450
MultiJson was originally introduced reluctantly after requests from users -- I wanted to just depend directly on yajl, but people had various use cases for using other libraries. This is especially important for JRuby compatibility.

It's unlikely I'd remove this unless it posed a serious problem.

[2016-10-11 20:08] jcoglan commented on #447
I'm not sure where we got to with this issue. Does it require more attention from me, or should I close it?

[2016-10-11 20:12] #449 closed

[2016-10-11 20:12] jcoglan commented on #450
Should I close this issue, or is this something we should discuss further?

[2016-10-11 23:51] justindujardin commented on #447
@jcoglan I do not currently use a module bundler, and I'd prefer not to have to rewrite my build automation to apply the workaround you suggested.

I'd like to hear your thoughts on allowing users to provide a custom implementation for `src/mixins/timeouts.js`. This seems like it would be minimally invasive, and would allow me to provide my WebWorker based timeout implementation on the client side

[2016-10-20 23:01] stepheneb opened #452 "bad argument (expected URI object or URI string) running thin start -R examples/ruby/config.ru"
Am testing the ruby server version of faye by having the gem repo checked out locally running `bundle install` and running `examples/ruby/config.ru`.

When I load the web page line 25 in dispatcher.rb generates an error calling `URI(endpoint)`.

`endpoint` is a `Faye::Server` object and doesn't appear to provide a URI object or URI string.

[code]

Have seen the same error running in Ruby 2.2.5 an

[2016-10-21 00:15] stepheneb commented on #452
This bug introduced in c0e135911f

[2016-10-25 14:17] cwmunn opened #453 "Logging request failures (node_http)"
Hi!

It would be great if the error provided from `request.on('error')` in the node_http transport was logged. This can help quickly identify some basic issues that are easy to solve once you know what they are (ex. fail to resolve DNS)

Thanks for a great lib.

Cheers,
~Chris

[2016-11-12 17:35] jcoglan commented on #452
Does this fix the problem? https://github.com/faye/faye/commit/bd01bc7c0a5885afe933392087a4708a25021675

[2016-11-12 19:56] jcoglan commented on #415
Should I close this issue, or did you have further questions?

[2016-11-12 20:17] jcoglan commented on #438
Did you have any feedback on my previous question, or should I close this issue?

[2016-11-12 20:18] jcoglan commented on #450
I'm going to close this since there was no response to my last question, but if you do want to discuss it further, do please re-open the issue :)

[2016-11-12 20:18] #450 closed

[2016-11-12 21:22] ginjo commented on #415
Thanks @jcoglan , I'm good for now, you can close it.

[2016-11-13 14:49] #415 closed

[2016-11-15 20:35] stepheneb commented on #452
Yes. Thanks

[2016-11-15 20:35] #452 closed

[2016-11-15 21:56] jcoglan commented on #447
Apologies for the delay, but a thought occurs to me: if code in WebWorkers does not have its timers throttled, can you run your whole Faye client in a worker rather than patching its internals? The patch is inherently brittle because it's replacing an implementation detail.

The `_ping()` method is not essential functionality -- it's a hack designed to keep the connection open. Are there other way

[2016-11-15 22:09] jcoglan commented on #453
I've added a little logging message in 2afb2db -- please let me know if that would work for you.

[2016-11-15 22:09] #453 closed

[2016-11-15 22:29] cwmunn commented on #453
Perfect, thanks a lot!

[2016-11-16 18:12] ackr1201 opened #454 "Frequent transport:down"
Hi ,

Am facing a frequent "transport:down" issue at my faye client. Please find my client as

Client is on ruby(sinatra) & faye (1.1.1)

[code]

My server looks like

server is on node => "0.10.x", faye => "1.1.0", faye-redis => "0.2.0"

[code]

My server is behind ELB & haproxy.

Can you please suggest. what might be the problem in my client/server ?

[2016-11-17 02:03] stepheneb opened #455 "requesting new gem release"
Am requesting a new gem release to help work around the following issue.

Summary: the build directory isn't created using a faye gem loaded with bundler and a Gemfile spec using a git ref with commit -- which means serving bayeux/client.js fails.

I'm starting a development effort by adapting the ruby example chat server code and need the fix in bd01bc7c. This shouldn't be a problem if I specify

[2016-11-18 09:47] danicastanos opened #456 "Cordova iOS App don't reconnect to channels after App has been in background"
I've an App developed with Cordova and I use the Faye JS client (v.1.2.2) in it. The thing is when the App goes into background, I detect the 'pause' event fired from the device and unsubscribe from the channels I was subscribed to. Then, on App 'resume' or 'active' I try to reconnect again.

The thing is, depending on how much time the App has been in background (sometimes is just random) I can't

[2016-11-18 10:00] danicastanos commented on #456
The issue looks like to happen often if the iPhone is locked

[2016-11-21 07:51] dharmax commented on #449
@jcoglan i apologize if it sounds inflammatory - it was totally not the intention, it was actually humorous, but i see now that it doesn't look that way from the reader point of view - sorry!

[2016-11-22 23:04] jcoglan commented on #455
I will put out a new release as soon as I have time to do so. In the meantime, as it mentions in the [gemspec](https://github.com/faye/faye/blob/master/faye.gemspec) and the [contributing guide](https://github.com/faye/faye/blob/master/CONTRIBUTING.md), you need to run `make` in the gem's root directory to build the JavaScript client.

[2016-11-25 02:56] stepheneb commented on #455
I'll use 1.2.2 for now. I'd prefer not to have to complicate the scripts for building the production server (example: installing the dependencies for making the gem).

If it turns out I need the newer unreleased gem I'll make it myself and check it into the repo for now.

[2016-12-01 03:03] DrakenZA opened #457 "csrf token protection"
https://faye.jcoglan.com/security/csrf.html

Ive been trying to implement this as per the page.

But for some reason, the token im getting from the 'session' is different from the 'message', and its coming from the same PC/browser ?

[2016-12-03 23:50] jcoglan commented on #457
Without seeing your code I'm not sure what to advise. Can you show me a small demo that illustrates the problem you're having?

[2016-12-04 00:05] jcoglan commented on #454
My advice would be to connect to your server directly, and then via ELB, and then via HAProxy, to find out if the issue if with the Faye server itself or one of your load balancing proxies.

[2016-12-04 00:07] DrakenZA commented on #457
Hey thanks for the reply :) I was able to sort of the issue myself, i suggest you update the CSRF Protection doc stuff on the site. Seems newer versions of rails simply dont let you compare the token direct, it takes some manipulation.

`# Faye extension to verify CSRF token
class CsrfProtection
  def incoming(message, request, callback)
    session_token = request.session['_csrf_token']
    # get

[2016-12-04 00:16] jcoglan commented on #457
is there an API in Rails that lets you compare the bare value to its encoded form, rather than doing the decoding yourself? I assume this random masking was added to defeat chosen ciphertext attacks on compressed data like CRIME and BREACH?

[2016-12-04 00:19] DrakenZA commented on #457
http://apidock.com/rails/ActionController/RequestForgeryProtection/valid_authenticity_token%3F

Ya this is used i believe, but ive tried to 'call' it in many different ways from the CSRF Protection 'Extension' but it simply says it doesnt exist.

[2016-12-04 00:24] jcoglan commented on #457
How were you trying to call it? If it's defined in a module, you need a concrete class/object to call it on; how were you doing that?

[2016-12-04 00:32] DrakenZA commented on #457
ActionController::RequestForgeryProtection.valid_authenticity_token()

was how i was calling it. What would be the way that is correct and works ?

[2016-12-04 00:47] jcoglan commented on #457
Oh, I didn't realise it was a class method from the docs. If it's a protected method, then the only way to call it is if `self` is a `Module` (or inherits from it). Protected class methods are weird, but maybe implementing a class method on your own extension to wrap it would work?

[2016-12-04 00:57] DrakenZA commented on #457
I'm pretty new to web dev and dev as a whole :) not sure what u mean :)

On 04 Dec 2016, at 2:47 AM, James Coglan <notifications@github.com> wrote:

Oh, I didn't realise it was a class method from the docs. If it's a
protected method, then the only way to call it is if self is a Module (or
inherits from it). Protected class methods are weird, but maybe
implementing a class method on your own exten

[2016-12-04 01:04] jcoglan commented on #457
Okay, on inspecting the Rails source I'm not sure you can call it from outside the Rails stack. It's actually an instance method inside `RequestForgeryProtection`, which means you can only call it from objects that include that module. That's really frustrating and different from how the other session and encryption stuff in Rails works.

[2016-12-04 01:08] DrakenZA commented on #457
Ya it's a bit silly. I can confirm though the way I described works :)
Thanks for coding a great project !

On 04 Dec 2016, at 3:04 AM, James Coglan <notifications@github.com> wrote:

Okay, on inspecting the Rails source I'm not sure you can call it from
outside the Rails stack. It's actually an instance method inside
RequestForgeryProtection, which means you can only call it from objects
that inc

[2016-12-25 19:14] saeidalidadi commented on #228
I have this problem too, but its ok on other system and the same browser.
My server is node and the module which I used is `socket.io`

[2016-12-27 14:52] KENZoft opened #460 "Get latest message immediately after a subscription?"
Is it possible to get the latest message on a channel immediately after a new subscription like the mqtt retain flag?

[2016-12-27 15:01] jcoglan commented on #460
There's nothing like that built in, but you could implement it as an extension.

Having said that, Bayeux has no guarantee on message ordering, so the concept of "last message on a channel" is not well-defined unless you're running a single server.

[2016-12-27 15:02] jcoglan commented on #228
@saeidalidadi Socket.IO is a separate product that has nothing do to with Faye. Are you sure you've posed this to the right project?

[2016-12-27 15:10] jcoglan commented on #456
Can I ask why you're unsubscribing from all the channels rather than letting the client handle reconnection for you as it's supposed to?

If you're unsubscribing from everything, you may as well `disconnect()` the client entirely and make a new one when the app is foregounded again.

(Caveat that I have no experience with Cordova so I'm going to have limited ability to answer detailed questions.)

[2016-12-27 15:23] KENZoft commented on #460
Thanks for quick reply!
This is an IoT-project with one server and only one publisher for each channel. I have implemented an 'in memory cache' on the server and it works fine but only for absolute subscriptions and not wildcard subscriptions. I'll think about it :)

[2016-12-27 15:23] #460 closed

[2016-12-31 16:47] jcoglan commented on #460
You could approach wildcards in the same way Faye's internal engine does: when a message arrives, you expand its channel into all the subscriptions that it might match, and then push the message to anyone subscribed to those.

e.g. the channel `/foo/bar/qux` would match these subscriptions:

* `/foo/bar/qux`
* `/foo/bar/*`
* `/foo/bar/**`
* `/foo/**`
* `/**`

[2017-01-01 09:18] KENZoft commented on #460
Sounds like a very good idea! Thanks for the input!!

[2017-01-19 09:09] zhonglanwen commented on #228
Socket.IO is a separate product that has nothing do to with Faye.

[2017-01-26 09:15] carlnordenfelt opened #461 "nodejs clients appear orphaned after a while"
Hi,

This is more of a question than an issue at the moment but we've been experiencing a strange behaviour that perhaps someone can help shed some light on.

The scenario is that a client connects and everything works fine.
If this same client reconnects a while later, not sure how long a while is but this could be days, using the same channelId it appears that when faye publishes messages, this

[2017-01-28 14:41] jcoglan commented on #447
@justindujardin I never heard back in response to my last question -- do you have any thoughts on my suggestion?

[2017-01-28 14:41] jcoglan commented on #438
I'm going to close this issue due to lack of feedback, but if you do want to discuss it further then please do re-open it :)

[2017-01-28 14:41] #438 closed

[2017-01-28 14:50] jcoglan commented on #454
Did you try my suggestion in my previous comment? Do you have any further input on this issue or should I close it?

[2017-01-28 14:50] jcoglan commented on #456
@danicastanos Do you have any feedback on my previous comment?

[2017-01-28 15:46] jcoglan commented on #457
I've looked into this and found there's an easier way to do it where you just call Rails' own validation method, rather than reproducing its internal workings: https://github.com/faye/faye/commit/8861ffcd3ce0077d289556746bf59bfed990fe13

Thanks a lot for bringing this to my attention :)

[2017-01-28 15:46] #457 closed

[2017-01-28 15:50] jcoglan commented on #461
I'm not sure what you mean when you use the term 'channelId' -- that's not a field in the protocol so I'm just uncertain what you mean when you say Faye isn't including a channel when publishing, or that a channel should be "re-registered".

Can you give a more concrete example of what you've observed and what you expect to happen?

[2017-01-28 15:51] jcoglan commented on #455
Apologies for the delay, but I will be releasing a new version shortly -- look out for 1.2.4.

[2017-01-28 15:51] #455 closed

[2017-01-28 16:40] justindujardin commented on #447
@jcoglan I've been busy at work and this upgrade fell off my radar.

I think your suggestion to run in a worker is great. Have you tested Faye with WebWorkers before?

[2017-01-28 17:03] jcoglan commented on #447
1.2.0 speficially fixed a bunch of problems so that Faye can run inside WebWorkers.

[2017-01-28 17:11] justindujardin commented on #447
That's great. Feel free to close this issue.

[2017-01-28 17:43] #447 closed

[2017-01-29 22:58] deliminator opened #462 "Automatic re-subscription on subscribe-error"
I have a custom bayeux backend that may send a "503:service unavailable" error to clients for any requests, including subscription messages. I found that this breaks the Faye browser-client's automatic resubscribe feature, because it will not retry a subscription if the subscribe fails with an explicit error (as opposed to a network failure).

I'm working around this issue by sending a success-res

[2017-02-01 06:06] ackr1201 commented on #454
For now we can close this. We will reopen this once we see this issue again.

[2017-02-01 06:06] #454 closed

[2017-02-10 22:28] devbriguy opened #463 "React-native api request slowness & implementation question"
Hi @jcoglan. I'm currently using faye inside a react-native app. I want to make sure my implementation is done correctly. I did notice this gist:  https://gist.github.com/jsdf/7b71a590caaa6dccbd31 & closed issue #431 that also mentions it but did not implement it like that. First, the slowness occurs when I mount this component repetitively (3 or more) it seems the api requests get bottlenecked bu

[2017-02-11 04:42] deliminator opened #464 "sticky sessions and withCredentials"
We are running a custom server implementation behind a load balancer (AWS ALB) and want to use the load balancer's sticky session cookies feature to route all requests by a faye client to the same backend node.

Both, websockets and JSONP transports work without issues. The cross-origin-long-polling transport however doesn't set any cookies because the withCredentials flags isn't set on the reques

[2017-02-11 04:48] deliminator opened #465 "Optimizing away preflight requests"
The cross-origin-long-polling transport issues an OPTIONS request before every long-polling POST request. This is because the 'Pragman: no-cache' header is being set on the XHR object by the client.

Is there a specific reason this header has to be set? It would be great if we could either remove it, or add an option that allows one to opt-out of setting this header.

[2017-02-11 07:10] deliminator opened #466 "Use cross-origin-long-polling instead of JSONP"
I would like to avoid JSONP requests, mostly because of browser's loading indicator issues and security (no secrets in the query string).

Although it's not according to the bayeux spec, the spec is old, and CORS is widely supported. Would it make sense to either add it to the mandatory connection types, or to allow this to be enabled by introducing a new option?

[2017-02-13 08:30] deliminator commented on #465
Just saw this:

Would it be possible to instead add something to the query string to prevent caching?

For our usecase we would also be fine just having a way to opt out of setting the header, since the overhead of an additional OPTIONS request seems rather large considering it's to circumvent buggy behaviour of a single client.

[2017-02-17 08:03] danicastanos commented on #456
So sorry @jcoglan... The email notification of your comment was lost in my inbox!!
I unsubscribe from the channels and subscribing again thinking it was a nice way to ensure a fresh connection and avoid processing notifications with no need to process when the app is in background.

Let me try first what you suggest to not unsubscribe from the channels to see how the App behaves... Then I will try

[2017-02-23 19:39] MaxPleaner commented on #371
This doesn't solely have to do with faye, but I stumbled across this and thought to share my 2 cents.

This error doesn not not necessarily a server-side concern; you will get it if your wifi re-opens or something like that. A way to address this is to make the Javascript websocket client's `close` trigger attempt to reconnect on a loop

[2017-03-01 00:27] bato3 opened #468 "Node server don't close connection after get browser lib"
The browser library maintains a persistent connection to the server, (which kills my machine).
The connection is opened minimum until close tab.
If it was open several tabs - to close the browser.

When I get `http://localhost/faye/faye-browser-min.js` connection isn't close.
`netstat` show me status: `ESTABLISHED`

node6, faye 1.2.4, (firefox x64 | chrome)

[2017-03-01 00:52] jcoglan commented on #468
Could you give me a script showing exactly how you're configuring your server?

All the paths in https://github.com/faye/faye/blob/master/src/adapters/static_server.js call `response.end()` and they don't set the `keep-alive` header, so the connection should be closed.

However this might be happening for some other reason -- if you can give me instructions for how to observe this happening, then

[2017-03-01 00:58] bato3 opened #469 "One connection to server per browser"
Now each tab make own websocket connection.
Is possible to share this connection between tabs? (eg.:  [Web Workers](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API), [BroadcastChannel](https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API))
My users can open many tabs...

[2017-03-01 01:01] jcoglan commented on #469
You can use `Faye.Client` from a WebWorker, yes. What exactly did you have in mind?

[2017-03-01 01:23] bato3 commented on #468
My script is very simple: http://pastebin.com/LTXRDhUc

open in browser http://127.0.0.1/czat/czat.js or http://localhost/czat/czat.js

`netstat -an | grep 4201` after some time shows stats (2 lines), 1 listen server and extra ESTABLISHED connection.

Pervious I test on FreBSD, now on Debian

[2017-03-01 01:35] bato3 commented on #469
I'm not good with JS (and lazy) and I wanted to ask about adding this directly to the library.

[2017-03-01 11:28] bato3 commented on #468
I found it!
When file is served with http 200 - it's OK, but 304 sends "keep-alive"

[2017-03-03 00:51] devbriguy commented on #463
Faye client needed to be also disconnected in unmount. Multiple connections resulted in slowing down other api requests.

[2017-03-03 00:51] #463 closed

[2017-03-06 20:14] jcoglan commented on #468
When I test this on Node 6.9.5, it sends `keep-alive` regardless of whether it's a 200 or 304 response. That header is not actually set by Faye, it's set by Node; the `http` module sends `Connection: keep-alive` by default.

Enabling keep-alive actually seems like a reasonable behaviour here; could you explain some more what problem it's causing?

[2017-03-06 20:18] jcoglan commented on #469
It won't be added directly to the library. Starting a WebWorker requires a path to a script on your website containing the worker's code, and Faye doesn't know the URL for any worker script you might have. Even if it did know that, there's a lot of decisions about where message listeners execute -- in the worker or in the main window -- and how the main window and workers should communicate, if ne

[2017-03-07 18:08] bato3 commented on #468
@jcoglan: When I get http://localhost/faye/faye-browser-min.js connection isn't close until  client close browser / browser tab.

I'm using faye as push server for chat displayed for logged users. But I add <script src="http://localhost/faye/faye-browser-min.js"> for all clients.  Who needs and don't need push server. Average time on page is 30 minutes.  It takes me 20k (or more, I don't know, bec

[2017-03-07 18:29] #469 closed

[2017-03-07 19:09] bato3 opened #470 "Fallback / alternative connection [Browser]"
Is there a simple way to change the endpoint during a connection?
(In the case of the unavailability of a particular destination, missed connections or frequent breaking the connection)

Is there a simple way to get channel subscriptions? (I method to cancel all subscriptions?)

[2017-03-08 23:59] jcoglan commented on #470
No, there's currently no way to change the endpoint a client is connected to. The usual approach to this is to listen for `transport:down` events and handle them by disconnecting the current client and creating a new one on a different endpoint, if that's what you want. The decision to switch endpoints usually requires information that's outside the scope of the Bayeux protocol, which is why Faye

[2017-03-10 12:19] bato3 commented on #470
@jcoglan Thanks for reply.

Is there a simple way to get list of channel subscriptions?

[2017-03-10 18:49] jcoglan commented on #470
No; that's something you should keep track of yourself.

[2017-03-10 22:55] DrakenZA opened #471 "How do you Prevent Echoing ?"
Im currently using Faye for a chatroom, and the users use the .publish function themselves to send messages to the 'room'.

The issue im having, is everything a user sends, is getting sent back to them.

Is there some way to stop this built in, or does anyone know a way i could build an extension that would stop sending self data back to self.

[2017-03-10 23:41] jcoglan commented on #471
I assume this is because your client is subscribed to the same channel it's publishing messages to?

[2017-03-10 23:52] DrakenZA commented on #471
Correct. Im using 'subs' as 'rooms'.

At the moment, im ignoring on the client side, but i want to move it server side if possible.

[2017-03-10 23:53] DrakenZA opened #472 "Anyone able to help with Updating Faye-Rails to Latest Faye ?"
https://github.com/jamesotron/faye-rails

The current dev doesnt seem to be working on it anymore, im not sure how i would go about 'upgrading' it to use the latest faye.

Could someone help me out or point me in the right direction ?

[2017-03-11 00:06] jcoglan commented on #471
There isn't a way to do this on the server side. If you need this functionality, you need to implement it on the client by tagging messages with something to identify the sender and then checking this sender value in your `subscribe()` callback.

[2017-03-11 00:07] jcoglan commented on #472
You would need to change this line to reflect the version of Faye you want to use:

https://github.com/jamesotron/faye-rails/blob/master/faye-rails.gemspec#L15

[2017-03-11 00:09] DrakenZA commented on #472
Thank you, will give that a try !

[2017-03-12 21:55] #470 closed

[2017-03-18 01:55] bato3 commented on #471
In "my" chat this is resolved in client. Every message have unique ID, and before display it  - client check that is it is present.

[2017-03-21 22:25] PierrePika commented on #371
Hi, i had a similar problem. Websocket connection was opening and directly closing. The problem came from client side.
I had the connection opening in a function executed once the DOMContentLoaded event occurs. The websocket var was defined outside of these function scope. Once i have supressed these definition outside of the scope it was working.

Works

document.addEventListener('DOMContentLoade

[2017-05-15 13:01] Xsmael commented on #321
@Intrepidd Have you made that extension ? i think i'll need something similar...

[2017-05-15 13:16] Xsmael opened #474 "Why do you remove the client id?"
Hi, was finding a way to identify the publisher of a message at client side, and i just notice you deliberately removed it. it sounds a bad idea, no alter my copy of the library to get the work done, plus i think you must have done it for a good reason. so i would like to know why

[code]

[2017-05-15 13:19] Xsmael commented on #471
Why is echoing a problem for your chat room ? don't you have to display the message to the sender itself as well ?  i mean if i send a message, i also need to see it right?

[2017-05-15 21:06] jcoglan commented on #474
It's a security measure. Knowing the ID of a client allows you to connect to the server and receive any messages routed to that client, meaning they won't be received by the intended recipient.

It also means you'd be receiving all messages from channels that client is subscribed to. The original client may have had to authorise with the server in order to be granted the subscriptions it has, and

[2017-05-15 21:29] Xsmael commented on #474
Okay

[2017-05-15 21:29] #474 closed

[2017-06-12 08:34] razerduy commented on #463
Hi @devbriguy ,
I want to use this faye lib inside a react-native app. Can you help me?
I setup this lib inside my app but when app opening. App crash immediately.

In constructor, i put:
this.fayeClient = new Faye.Client('ws://localhost:4002/trigger/');

In componentDidMount, i put:
this.fayeClient.subscribe('job/700669d0-f5d0-11e6-9421-ddba1970f3c3', (mess) => {
  console.log('mess', mess);
});

[2017-06-12 14:11] devbriguy commented on #463
Hi @razerduy Sure. Did you import faye lib inside the component? Also, you should add `fayeClient.disconnect()` to the componentWillUnmount. What error message do you get when it crashes?

[2017-06-13 02:25] razerduy commented on #463
Hi @devbriguy ,
I imported faye lib inside the component.
When app start, it crash. I have open debug console in chrome browser and i see a message relate faye socket.
The message is Unbalanced calls start/end for tag 1 - the message just display when i init faye.Client in componentDidMount. If i init Faye.Client in constructor, app will crash without message.
So i have to do now?

[2017-06-13 07:32] razerduy commented on #463
Hi @devbriguy ,
Now, i have implemented this faye lib inside my app.

[2017-06-14 08:12] razerduy commented on #463
Hi @devbriguy ,
How to disconnect or unsubscribe channel? I called method fayeClient.unsubscribe(channel, null); or fayeClient.disconnect(); but fayeClient still receive message if server sent message.

[2017-06-14 13:30] devbriguy commented on #463
Hi @razerduy I allocate fayeClient in `componentWillMount` and it's a variable that resides outside the class. I unsubscribe and disconnect like so:

[code]
If you are still having issues make sure the component is being unmounted.

[2017-06-14 22:53] jcoglan commented on #462
@deliminator Apologies for the delay on this, it's been a hectic few months. I was wondering if you could share the extension you use to do this, it might prompt ideas for how this could be baked into Faye.

[2017-06-15 12:22] jimishjoban opened #475 "Issues with Faye server when behind HTTPS"
Hello,

We had a normal Faye server setup which was working fine/perfectly with HTTP. As soon as we switched our website to HTTPS, We started to see a Lot of errors in nginx around "upstream prematurely closed connection while reading response header from upstream"

The nginx Configuration is simple:

    upstream fayeserver {
      ip_hash;
      server 127.0.0.1:9292;
      server 127.0.0.1:9293

[2017-06-21 07:32] razerduy commented on #463
Thanks @devbriguy ,
but now i have an new issue, client always receive 2 same message.
You used to know this issue before when implement faye inside react native?

[2017-06-26 11:57] mattiaspalmgren commented on #456
We’re experiencing similar problems, where the client goes down (transport:down) when locking the phone and do not manage to go up (transport:up) when open it up again - and seems to go missing on message sent during the lock-period. This happen on iOs 10.3.2 with Faye 1.2.4.

[2017-07-03 19:41] jkarneges commented on #456
In our tests, Faye 1.1.2 reconnects after opening the app again, but transport:up won't emit until about a minute passes or a message is received. This can make it seem like Faye hasn't reconnected yet when in fact it has and can receive messages.

The transport:up event is needed for apps that need to react to the event to recover data though, and the long delay to receive this event can make for

[2017-07-05 10:06] JohanBengtsson commented on #456
@jkarneges We experience this issue as well so it would be great if this issue can be fixed, but we will for now listen in the `window` `focus` event for recovering data from messages that were "lost" while the client wasn't connected to the WebSocket channel.

[2017-07-05 23:28] jcoglan commented on #456
@mattiaspalmgren @jkarneges @JohanBengtsson Can you tell me more about what you're using `transport:up` for? It was originally intended to be purely advisory, and not to be used for any logic effects like trying to reconnect, recover data, etc. The Faye client should recover automatically and transparently without intervention from you.

Can you tell me why you're using it and what data recovery m

[2017-07-05 23:33] jcoglan commented on #456
@mattiaspalmgren

Let me see if I can clarify. If for any reason the client stops communicating with the server, e.g. you are offline or the runtime hosting the client pauses execution, the server will eventually time out the client's session. Until that time-out happens, messages are buffered on the server side and will be delivered when the client next makes contact.

But if the client goes past

[2017-07-05 23:59] jkarneges commented on #456
In this case, data recovery means querying against the application's main backend service/DB for historical state (as opposed to trying to recover data through the Bayeux protocol). If the client has awareness that a pubsub connection was lost and then restored, then that's a good moment to try recovering data.

Looking at the code, it appears the event is sent after a response is received from th

[2017-08-02 08:19] jcoglan commented on #472
@DrakenZA How did you get on? Should I close this issue?

[2017-08-02 08:20] jcoglan commented on #471
Does anyone have any further questions about this or should I close the issue?

[2017-08-02 17:20] kenyeung128 opened #477 "Refused to connect to wss://api.smooch.io/faye' because it appears in neither the connect-src directive nor the default-src directive of the Content Security Policy"
Refused to connect to wss://api.smooch.io/faye' because it appears in neither the connect-src directive nor the default-src directive of the Content Security Policy

Does anyone has this issue? some browsers in iphone throw this error, and can't get the message from the server.

[2017-08-02 19:13] jcoglan commented on #464
Hi @deliminator I'm sorry it's taken me a few months to get to your issues, it's been a busy year. I just pushed a commit to add this functionality, should be in the next release.

https://github.com/faye/faye/commit/876f0ab5a3fce6bf1ef37e858da7b7e101ff4c71

Can you just confirm that this enables the behaviour you wanted?

[2017-08-02 19:15] jcoglan commented on #461
@carlnordenfelt I just wanted to check you saw my last comment. If you have any feedback on my questions, please do leave a comment here.

[2017-08-02 19:23] jcoglan commented on #475
Hi @jimishjoban, apologies for the delay, you caught be just before going on vacation and my backlog filled up.

I just tried connecting to the URL you gave, and it does work, even if it does feel a bit slow. Here's a response I got:

[code]

Does that mean you got things working, or is there still a problem? Have you tried removing nginx from the equation and connecting directly to the Faye serve

[2017-08-02 19:37] jcoglan commented on #468
Apologies that I've not had time recently to catch up on issues here. I've looked into this a little more and it seems like reasonably common behaviour; for example I tried fetching one of the scripts that GitHub is currently serving to me and it kept the connection alive to 10 minutes.

If this is a serious issue for you, I recommend configuring your reverse proxy in production to disable keep-al

[2017-08-02 19:37] #468 closed

[2017-08-02 19:46] jcoglan commented on #465
I don't have any devices available to me to check this now, but from a little googling it seems like the only fix known at the time was to use cache control headers, rather than query strings. If you do find out that query strings are sufficient to prevent this error, I'll happily remove the header.

However, it's worth noting in relation to #466, for us to use the regular long-polling transport f

[2017-08-02 19:46] jcoglan commented on #462
@deliminator Did you see my last comment? If you're able to share some code with me that would help to make progress with this issue.

[2017-08-02 19:56] jcoglan commented on #477
@kenyeung128 does the client successfully make normal HTTP long-polling requests to `https://api.smooch.io/faye`? Does it continue to function in spite of the WebSocket failure, or does this stop it working completely?

[2017-08-04 07:30] carlnordenfelt commented on #461
Hi,
It's been a while since we last saw this issue so I think we either solved it or it resolved itself.
Either way I'll close the issue.

[2017-08-04 07:30] #461 closed

[2017-08-05 15:36] SubhaPrince opened #478 "React native faye client subscription not working"
We are using faye server in Rails project with secret token and that is working fine. But now we are moving it to our clients to **react native**. The react native clients are not receiving any messages on subscription to a specific channel, I am suspecting this is happing react native client not passing any secret token. can some body help example where we can pass the secret token along with the

[2017-08-05 16:42] jcoglan commented on #478
Have you checked that the client works with a basic Faye server, not running any authentication extensions or other extensions? Is the client sending requests? Is the client getting responses from the server saying it's not authorised, or is it not getting responses at all? Have you tried turning on logging to see what's being sent/received?

[2017-08-05 18:03] jcoglan commented on #456
Apologies, July was a hectic month for me. To respond to @jkarneges's points:

There is a better way of doing this, which I'm realising I should probably add to the docs because it's come up so many times. I'll explain that shortly but I just want to note the `transport` events are not suitable for being used like this.

First, a `transport` event does not indicate the client's session expired. It

[2017-08-05 20:04] jkarneges commented on #456
Thanks for replying @jcoglan.

Unfortunately this is not quite true with the Bayeux protocol. If the server sends a message to a dead client connection then the message will be lost. This means it's possible for a client to get disconnected and reconnect with session intact, yet lose messages in between.

Note that I don't really consider this a major problem, as publish-subscribe systems are unre

[2017-08-08 05:22] SubhaPrince commented on #478
@jcoglan  thanks for your response. I am a beginner of react native. Do you have any proper example for implementation of  faye with react native?

[2017-08-08 08:01] jcoglan commented on #478
Unfortunately I don't have any experience with it either, but you could try asking people who commented on #431, which is what prompted us to add React Native support.

[2017-08-08 08:02] jcoglan commented on #478
Though having said that if the server is crashing that sounds like a bug in the server. If you're able to paste a `curl` command here that reproduced the request that crashes the server, I'll look into it.

[2017-08-08 09:18] SubhaPrince commented on #463
Plz send me one example where i can able to subscribe any channel. I have tried but getting this error.

**My sample code...**
var faye_url = "http://xxx.com:9292/faye";
var fayeClient = new Faye.Client(faye_url);
var channel = "/xx/8237";
var token = "xxxxx";
fayeClient.setHeader("Authorization", token);

class FayeServer {
  msg = null;
  constructor() {
    const logger = {
      incoming: func

[2017-08-08 09:32] SubhaPrince commented on #478
**Here is a command**
curl http://localhost:9292/faye -d 'message={"channel":"message/8237", "data":"hello", "ext":{"private_pub_token":"mykey"}}'

**Outut**
[{"channel":"/message/8237","successful":true}

Invalid token in react native log  when i am debugging. But same token is working to my rails existing project.

[2017-08-08 14:26] SubhaPrince commented on #463
@devbriguy  I followed your code but i am not understating where i am doing wrong. plz help me out this issue. I am sharing snap shot..

**Client side code..**
import Faye from "faye";
var faye_url = "http://xxx.com:9292/faye";
var token = "xxxx";
var fayeClient = new Faye.Client(faye_url);
var channel = "/conversations/8237";
var c_id;
class FayeServer {
  uid = "";
  msg = null;
  messagesRef =

[2017-08-08 14:31] SubhaPrince opened #479 "What is "context" for handshake function in react native"
handshake: function(callback, **context**) {}

[2017-08-08 15:59] devbriguy commented on #463
hi @SubhaPrince I'm not sure I follow your code. Are you receiving messages? What appears to be the problem? I'm seeing you are connected locally at 9292. Is your server running locally?

[2017-08-08 17:31] jcoglan commented on #479
I'm not sure how this affected by React, but `context` is the value of `this` the callback will be invoked with, on this line: https://github.com/faye/faye/blob/1a297b0e094927cde04cf0595e17a2ed4c3f1030/src/protocol/client.js#L123.

In future, would you mind asking questions on the [mailing list](https://groups.google.com/forum/#!forum/faye-users) and leave GitHub issues for reporting bugs?

[2017-08-08 17:33] jcoglan commented on #478
I've tried the message you gave, but it does not crash the server. However, the server does say that the channel `message/8237` is invalid, because it does not have a leading slash; it should be `/message/8237`.

[2017-08-10 06:17] SubhaPrince commented on #463
Hii @devbriguy  thanks for looking my issue. From the following code

this.msg = fayeClient.subscribe(channel, function(message) {
alert("message");
});

1. if i do this.msg._client._state returns 3 means connected .
2. problem here is alert not showing means the block of subscription are not invoking.

[2017-08-10 06:23] SubhaPrince commented on #478
that is typo :). I think there is something which i am messing bcoz if i type  this.msg._client._state returns "**3**" means connected. but the scope of subscription is not invoking. I am not getting any proper documentation where i can implement this thing. faye teams also not sharing of implementation for react native.

[2017-08-10 08:47] jcoglan commented on #478
I'm sorry, I'm not sure what you mean by "the scope is not invoking" here. Could you try to explain what you're seeing in more detail?

As I said, I don't have any experience with React Native; all I know is that we adjusted how the long-polling transport works in 1.2.0 so that it could work in the React Native environment.

You know that the client is performing a handshake successfully (hence `_

[2017-08-16 19:56] eijy opened #480 "React with faye Authentication"
it's possible to use faye authentication in reactjs?
i'm using reactjs and nodejs
i'm trying to add the token and user_id to authenticate the user like the code below:
[code]
i don't know if i'm doing the subscribe correctly...

in the server i'm using the code below:
[code]
i need to create a subscribe in the reactjs that send's the token and the userid to authenticate.

i'm searching in the docu

[2017-08-17 21:35] jcoglan commented on #480
I'm not that familiar with React in particular, but I noticed a few odd things with your code.

First, there's no function in the first extension, it should be:

[code]

Second, the subcribe channel needs a leading slash:

[code]

Apart from that I'm not sure what to suggest. Have you taken a look at the logs to see what's going over the network? Set `Faye.logger = console`.

[2017-08-18 16:45] eijy commented on #480
it worked with this code:
front:
[code]
nodejs:
[code]

[2017-08-18 18:21] #480 closed

[2017-08-18 18:29] jcoglan commented on #480
Ah yes, I made a mistake in my own example by leaving the `outgoing:` object wrapper out of the client extension. Sorry!

[2017-08-23 12:35] harindaka opened #481 "How do I expire a client subscription from the Server?"
I have a Faye server written in NodeJS and a web client using the Faye Web client. My code on the server already takes care of validating an incoming user subscription and issues a token back to the client. This token is a JWT token which expires in 1 minute. The client sends this token back to the server in each subsequent message it publishes to the server via a client side extension. The server

[2017-08-24 06:52] harindaka commented on #481
I'm wondering if it is possible to call something like `engine.destroyClient(clientId, function() {})` from the server object returned by `new faye.NodeAdapter(options)` as mentioned below

[https://faye.jcoglan.com/node/engines.html](url)

[2017-08-25 06:11] harindaka commented on #481
Ok I was able to do this by calling `fayeServer._server._engine.destroyClient(clientId, function() {});`. Note that I'm using the `faye-redis` engine. Feel free to close this issue if this is the correct way to do this. Thanks

[2017-08-28 16:35] jugarrit commented on #477
@jcoglan it stops working completely.
See PR referencing this issue for details.

[2017-09-02 11:20] jcoglan commented on #481
I'm going to close this since it's more of a question than a bug and you've also posted this on the mailing list. In future, please keep questions on the mailing list rather than the issue tracker :)

[2017-09-02 11:20] #481 closed

[2017-09-02 11:29] jcoglan commented on #477
@kenyeung128 Can you confirm that @jugarrit's PR fixes the problem for you?

[2017-09-03 07:16] SubhaPrince commented on #478
**How can i call a object method inside the subcribe method**
this.test is not a function getting **error** when i am calling this way

fayeClient.subscribe(channel, function(message) {
      this.test()
});

test(){
 alert("abc")
}

[2017-09-03 11:09] jcoglan commented on #478
Could you include more of your code, for example the complete class you're working on? The code you've pasted is a syntax error as-is because the `test` definition cannot appear in statement position. I'm assuming these are snippets from a larger bit of code.

[2017-09-16 08:56] #477 closed

[2017-09-21 17:44] robertgrimm opened #484 "URI.parse doesn't support IPv6 addresses"
The problem is that it assumes a ":" will only show up as the separator between the hostname and the port and that's not the case when a literal IPv6 address is used.  For example:
URI.parse("http://[2620:a3:e030:11a1:215:17ff:fee9:3068]:9292/").hostname -> "[2620".  This causes Faye to not work when an IPv6 address endpoint is used.

[2017-09-23 16:04] lautiamkok opened #485 "ReferenceError > location is not defined"
I get this error when I use Faye with Nuxt.js:

It points to this file:

[code]

This is what I have on my Nuxt template:

[code]

Any ideas why?

If I add `'http://localhost:3000` to the client path:

[code]

I don't see the location error anymore. But I get this error instead:

Any ideas?

[2017-09-23 16:25] jcoglan commented on #485
I don't know much about Nuxt.js, but what kind of platform are you running this code on? Is it a non-browser environment where there's no such thing as the `location` object?

[2017-09-23 16:30] lautiamkok commented on #485
@jcoglan I am on Linux. This is the template I use from Nuxt https://github.com/nuxt-community/express-template

[2017-09-23 16:32] lautiamkok commented on #485
This is my server setup:

[code]

[2017-09-23 17:19] jcoglan commented on #485
Sorry, I didn't mean which OS are you running, I meant were is the code that's generating the error running? The template you first posted suggests your code is running in a browser or browser-like environment, which should have a `location` object.

However, I did notice this odd-looking line in your server code:

[code]

The `mount` option just takes a path, not a complete URL, so you probably w

[2017-09-23 17:40] lautiamkok commented on #485
Yes it is running on a browser and I get the error on my browser screen.

But in the first thread I also mentioned that I don't see the location error anymore after adding 'http://localhost:3000 to the client path:

[code]
 But I get this error instead:

Yes I notice that `const bayeux = new faye.NodeAdapter({mount: 'http://localhost:3000/faye', timeout: 45})
` is incorrect. but I get still get th

[2017-09-23 18:31] jcoglan commented on #485
You won't get the error when calling `new Faye.Client('http://localhost:3000/faye', ...)` because the client is no longer trying to infer the scheme, host and port from the location of the current page. Does the environment where you client is running have a global `location` object? Are you able to find out what `location` refers to in `uri.js`?

[2017-09-23 18:39] jcoglan commented on #485
What is the response if you run this in your terminal?

[code]

[2017-09-23 19:03] lautiamkok commented on #485
@jamesotron

"Are you able to find out what location refers to in uri.js?"
 It refers to this line `uri.protocol = uri.protocol || location.protocol;`

I attached what I see on my screen when I run `http://127.0.0.1:3000/` on my browser:

<a href="http://www.freeimagehosting.net/commercial-photography/"><img src="https://i.imgur.com/We7D4ct.png" alt="commercial photography locations"></a>

[2017-09-23 19:04] lautiamkok commented on #485
Nothing happens when I run:

[code]

[2017-09-23 19:07] lautiamkok commented on #485
I don't know. But I think it does not have not. What can we do if it does not?

[2017-09-23 19:11] lautiamkok commented on #485
I tested it with:

[code]

And I get the same location error. So I guess it does not have that.

[2017-09-23 19:34] jcoglan commented on #485
I meant, at that point in the code, what does the variable name `location` point at? It's supposed to point at the global `location` object, but if the code has been enclosed in a function that defines a local variable with the same name, it will refer to that instead.

Which browser are you running? It looks like Chrome from the user agent string. How did you determine that there's no `location`

[2017-09-23 19:40] lautiamkok commented on #485
I think this might be answer https://github.com/nuxt/nuxt.js/issues/30

Nuxt is a server side framework, while `new Faye.Client` is supposed to be on the client side.

[2017-09-23 19:41] lautiamkok commented on #485
I will get the same error because `window.location` is a client code. Nuxt is running on the server.

[2017-09-23 19:42] jcoglan commented on #485
I didn't realise your initial example ran on the server rather than in the browser. `Faye.Client` does work on the server but you need to pass a complete URL. In the browser, you can use partial URLs just as you can for `href` and `src` attributes.

[2017-09-23 19:42] lautiamkok commented on #485
That means we cannot use `new Faye.Client` in Nuxt template directly.

[2017-09-23 19:44] lautiamkok commented on #485
Yes I tested that without Nuxt and it works fine. :-D

[2017-09-23 19:44] lautiamkok commented on #485
Strange though I can use socket.io directly in the Nuxt template. So I thought it would be the same for Faye.

[2017-09-23 19:46] lautiamkok commented on #485
this is the reason why I have the location error - https://nuxtjs.org/faq/window-document-undefined/

[2017-09-23 20:11] jcoglan commented on #485
Does that mean I can close this issue?

[2017-09-23 20:12] lautiamkok commented on #485
Yes I am closing it. Cheers.

[2017-09-23 20:12] #485 closed

[2017-09-24 09:47] jcoglan commented on #484
I've just fixed this in https://github.com/faye/faye/commit/dc754e38008cce762c9ea49fc713dadeeeaad63d. Can you try that out and confirm that it fixes your problem?

[2017-09-28 16:14] robertgrimm commented on #484
You're close but IPv6 addresses need to be wrapped in square brackets.  For example, with your change: URI.stringify(URI.parse("http://[2620:a3:e030:11a1:215:17ff:fee9:3068]:9292/")) results in "http://2620:a3:e030:11a1:215:17ff:fee9:3068:9292/".  It needs to be "http://[2620:a3:e030:11a1:215:17ff:fee9:3068]:9292/".  I'll let you decide if you want to do that in parse when setting uri.hostname or

[2017-09-28 17:00] robertgrimm commented on #484
https://github.com/faye/faye/commit/dc754e38008cce762c9ea49fc713dadeeeaad63d partially fixes the problem but it's still not quite right because it doesn't wrap IPv6 addresses in square brackets.  It's easy for us to modify it and apply the fix locally but I'm going to wait at least a weak or 2 to see if upstream fixes it correctly.

[2017-10-09 23:38] doubleminus commented on #485
Having the same problem here and am wondering...what was the fix?

[2017-10-12 14:05] DrakenZA opened #486 "CSRF protection and Rails Scaling"
From the documentation, its stated in the rails CSRF protection example, that you must use Faye as middleware, so it can access the session and do the confirming.

"This extension needs to access the Rails session, and to allow this you must put Faye at a specific place in the Rails middleware stack. In your application config, add Faye::RackAdapter after your app’s session store middleware, addin

[2017-10-12 17:43] jcoglan commented on #486
I'm not sure where you read this but it's not strictly true. It is certainly simpler to manage the scaling requirements of Faye and your web app if they're separate systems, but technically you can run Faye backed with Redis as part of your Rails middleware. I just don't *recommend* that people doing serious deployments take that approach.

[2017-10-12 17:49] jcoglan commented on #486
I'd also recommend that if this gets too complex, you back away from cookies as an auth mechanism; they don't work well with long-lived connections or the semantics of the Bayeux protocol. You're better off doing authentication within the protocol itself, as the other security articles on the site describe.

Besides, if you deploy Faye as a separate service, you'll probably put it under a differen

[2017-10-12 17:54] DrakenZA commented on #486
Ahh thanks for the info !

[2017-10-12 17:54] #486 closed

[2017-10-17 13:14] mspensieri opened #487 "Ping vs Timeout?"
I'm trying to understand the relationship between the `ping` option and the `timeout` option, and how they relate to websocket connections. We are trying to optimize battery usage on mobile clients by minimizing the amount of time spent using the  network radio, and tweaking the `timeout` value seems to have an effect on this.

I've recently come across the `ping` option, which is documented as su

[2017-10-19 06:57] jcoglan commented on #487
There are three distinct concepts here:

* `timeout` is a setting in the Bayeux protocol. It's the amount of time that a server waits before replying to a client's `/meta/connect` message. This message is used to poll the server for new messages; the server responds as soon as  there are new messages for the client, or after `timeout` seconds have elapsed, whichever is sooner.
* `ping` affects the

[2017-10-19 17:56] mspensieri commented on #487
Thanks for the explanation

So knowing this to be the case, is it safe to say that for the websocket transport, the `ping` interval could be used instead of the `timeout` interval for the `/meta/connect` heartbeat, and everything would still work as expected?

[2017-10-20 09:04] jcoglan commented on #484
I just pushed another commit to `master` that should fix this.

[2017-10-23 17:20] robertgrimm commented on #484
Thanks!  Works good.

[2017-10-23 17:20] #484 closed

[2017-10-31 18:00] pcj commented on #485
I'm seeing same issue.  On my end, there is no error if the string `http://localhost:8000/faye` is used, but no connection occurs (browser client _are_ able to connect to this endpoint).  If any other string like `//localhost:8000/faye` or `/faye` is provided, the `ReferenceError` is thrown.

https://faye.jcoglan.com/node/clients.html

[code]

[2017-11-01 23:05] jcoglan commented on #485
@pcj Relative URLs are not supported on Node. In the browser, they are interpreted relative to the current page URL as expressed by the `location` object (just like other URLs like `href` and `src` attributes), but on Node there is no 'current page' to resolve URLs relative to.

[2017-11-22 09:55] ducnguyenhuy opened #488 "Don't work on my side"

[2017-11-22 14:55] #488 closed

[2017-11-23 03:08] tspacek opened #489 "Occasional "can't add a new key into hash during iteration""
We get occasional `can't add a new key into hash during iteration` exceptions when sending.

We are running one Faye::Client in a connection pool (https://github.com/mperham/connection_pool) between 10 Sidekiq workers. So it could be due to this concurrency.

The stack trace is:

[code]

So it seems to be this:
[code]

And the only spot I can see which could be iterating `@pending` is
`next unless

[2017-11-23 03:27] tspacek commented on #489
🤔  Could it be that the thread I sent on with

[code]

Is different to the thread that `socket.onmessage` is called on with replies?

[2017-11-23 07:56] jcoglan commented on #489
All interaction with the client should happen on the EventMachine thread. If you use the same client from multiple threads you will almost certain get problems like this.

[2017-11-24 14:58] Xsmael opened #490 "Peer to peer"
Is there a way to implement thit in a p2p fashion ?   to remove the need to keeping a server ?

[2017-11-24 19:39] jcoglan commented on #490
No; the protocol Faye is based on is fundamentally server-mediated. If you want peer-to-peer I'd recommend looking at WebRTC.

[2017-11-28 00:15] tspacek commented on #489
That was it. It turns out that calling it from `EM.schedule { faye.publish(channel.to_s, data) }` has resolved the issue. Thank you for your time!

[2017-11-28 00:15] #489 closed

[2017-12-05 07:31] Xsmael commented on #490
Alrigth

[2017-12-05 07:31] #490 closed

[2018-01-04 08:09] soumyaray commented on #424
@yanhackcode15 could you give a few more details about what this entailed? if you are running on Heroku could you not have simply set the server name to the production server name (e.g., `Faye::Client.new('my-app.herokuapp.com/faye')`)?  You shouldn't have to specify a port, right?

[2018-01-09 09:06] soumyaray opened #491 "Can publisher check if subscribers are listening?"
Thanks James for this gem of a gem :)

BACKGROUND: I have short-lived server-side workers that publish to a Faye server using POST requests (with appropriate channel IDs), and browser clients are subscribing to those channels. Typically, each channel only has one browser client subscriber. The publishing worker typically comes to life at almost the same time as the subscriber and works for several

[2018-01-09 23:38] jcoglan commented on #491
Faye does not provide any way for one client to query the state of any other client or channel; doing so would more often than not lead to race conditions, and it's intended that you should just publish messages regardless of whether anybody is listening for them.

If your program relies on a client not missing events, then you need to add some persistence somewhere. This could mean one of several

[2018-01-10 02:09] soumyaray commented on #491
Thanks @jcoglan for laying out my choices — these are very helpful indeed.

[2018-01-10 02:09] #491 closed

[2018-01-29 06:42] swati410 opened #492 "Client is getting disconnected after some time"
With the salesforce api version 37 and above client is getting disconnected while we subscribe to push topics and platform events in salesforce.
Following is the error seen in logs after which client disconnects.

[code]
We are using nforce node module to subscribe to topics which uses faye client to connect to salesforce.

[2018-01-29 08:49] jcoglan commented on #492
This looks like correct behaviour on Faye's part. If the server sends `advice.reconnect = "none"` then the client is not supposed to send it any further messages.

[2018-02-06 13:33] srihakum commented on #492
@jcoglan Yes that seems the right approach when server itself is saying not to connect again. However we do not get a transport:down event so that we could handle the logic for such cases.

[2018-02-07 22:52] jcoglan commented on #492
You don't get a `transport:down` event because the transport layer is fine. That event is fired when the underlying network mechanism -- WebSocket, XMLHttpRequest, JSON-P, etc -- is showing signs that a request failed to get a response from the server. In this case, the transport layer is working fine, it's just the server is telling you explicitly not to connect any more.

I didn't build in any e

[2018-03-06 13:16] vecernik opened #493 "webpack browser build broken due to usage of "global""
I really love this project, I use it for browser and node client and server projects.
With current version (1.2.1) building faye with webpack works but fails in runtime (browsers) due to missing "global".
I noticed a few sources (in /protocol/client, /util and /mixins) use "global" as a keyword, specially while calling onbeforeunload() and setTimeout(), which could be fine for node (but why?), but

[2018-04-04 06:43] manohar-nyros opened #494 "Faye not working while using https rails app and http faye app"
Hi there,
I am having rails app and deployed in AWS EC2 with apache and unicorn. In this application I have used faye for messaging module.It is working fine with http application but Faye is not working while using https(ssl) for web application and http for Faye app.

In this situation are we really required https for both apps(web app and faye app)?
Please let me know.
Error:
The page at https:

[2018-04-04 15:43] alongley commented on #494
I've struggled a bit with the SSL side. I probably can't answer you directly, but I thought I'd post a comment just to jog other comments in an effort to add some clarity.

In simple terms, Faye opens a single port that you specify (8000 default) in either http or https mode. This means that clients will communicate properly with http://<server>:8000 or https://<server>:8000. It's designed to serv

[2018-04-05 03:53] manohar-nyros commented on #494
Did you mean, Do I need to set up SSL for faye server also?

[2018-04-05 15:00] alongley commented on #494
I don't know how to answer this. If you pass 'tls' as the second argument when starting faye e.g. node server.js 8000 tls, faye will open an https server on port 8000 instead of an http server on port 8000. If it starts an https server it will use the temporary security certificate (server.crt and server.key) to allow encrypted http communication for both traffic over bayeux and for the delivery o

[2018-04-09 06:08] manohar-nyros commented on #494
Could you show me sample cofig for setting Faye behind load balancer or proxy? I tried with proxy pass and reverse proxy pass. But I unable to make it.

[2018-04-18 19:02] letsgotomars opened #495 "'Local' Publish and Subscribe"
According to the documentation "Clients do not send each other messages directly, instead they send their messages to channels, and the server figures out which clients need to receive the message." For our application this is the desired behavior in most cases where published channels from clients should be passed to a server to be distributed to other potential clients. However we would like the

[2018-05-16 11:05] vbalas opened #496 "Faye Nodeadapter not working when hosted in heroku"
We are evaluating the Faye for our realtime dashboard page. Client is React app and server is a node app. It works fine locally. When these were deployed to heroku, the communication isn't working.

[2018-05-17 06:55] jcoglan commented on #496
I don't why your specific app doesn't work on Heroku, but Faye on Node certainly works there. Here's a demo app I just created to try this out:

https://faye-demo.herokuapp.com/

Source code:

[code]

[code]

If you send data to this app, it shows up in the browser console:

    curl -X POST https://faye-demo.herokuapp.com/faye -H 'Content-Type: application/json' -d '{"channel": "/msg", "data": {"

[2018-05-17 08:11] vbalas commented on #496
Thanks. Receiving a Bad request response. We are behind corporate proxy. So not sure how to get past this.

From: James Coglan [mailto:notifications@github.com]
Sent: 17 May 2018 12:25
To: faye/faye <faye@noreply.github.com>
Cc: Sharma V, Balasubramania (Cognizant) <Balasubramania.SharmaV@cognizant.com>; Author <author@noreply.github.com>
Subject: Re: [faye/faye] Faye Nodeadapter not working when

[2018-05-19 09:29] jcoglan commented on #496
Sorry, I'm not sure what you mean. What is your proxy blocking access to?

[2018-05-21 09:14] touseefmurtaza-nxb commented on #478
can we use faye on react native client side?
because for me it showing "Uncaught ReferenceError: Faye is not defined"
even after installing faye through "npm install faye --save" and import faye in my App.js file
import Faye from 'faye';

[2018-05-22 16:38] letsgotomars commented on #495
@jcoglan what are your thoughts? Is this outside the scope of what you intend to use Faye for? If not a wrapper library might be a more appropriate solution.

[2018-06-07 17:44] vanjabucic opened #497 "Incompatibility with CometD library (>=v3.1.1)"
**Problem**
We are seeing our clients reconnect once a minute (on second /meta/connect exchange) even though it is not obvious why.
There are packets being sent every 15 seconds which should be plenty enough.
From what I can see, the Faye client is not waiting long enough for /meta/connect reply that is sent by CometD server every 30 seconds.
Oddly enough, if we increase the publish rate to every

[2018-06-15 04:34] slprogrp opened #498 "Microsoft Edge WebSocket Error: SECURITY_ERR, Cross zone connection not allowed"
Hi there,

Thanks for a great product in Faye!

I have a faye client running in a web page hosted on a remote server.  I open a browser on my local machine, and load that page in from the remote server.  The faye client connects to a locally installed node application running a fay server on http://localhost:[PORT]/faye when the page is loaded.  This worked fine when I first built it.  It worked f

[2018-06-21 19:52] vanjabucic commented on #497
**Update on the issue**
It is caused by Faye 'ping' operation. Had to search high and low as it is not part of the trace (not reporting the ping action or the bytes going over the wire).

Using CometD library 3.1.1 it looks like it works but the ping operation is inadvertently  scheduling the session for a sweep, and within 2-3 cycles it is gone.
(empty message fall-through sets scheduleExpiration

[2018-06-23 00:44] vanjabucic commented on #497
I asked Simone Bordet about empty frames, his answer is here:
[cometd-users topic](https://groups.google.com/forum/#!topic/cometd-users/OLOw0KkgkFo)

Short answer: no empty frames will be accepted, there are other ways to do 'ping'.

Quick fix for others looking for it is to use Ruby magic and rewrite ping method to do nothing:
[code]

Regarding a long term resolution, @jcoglan can you read Simone

[2018-07-02 14:56] olegsobchuk opened #500 "Failed deploy "Interactive authentication required""
I updated server from Ubuntu 14 to 16
and now script which is generated by capistrano task can't start (restart)

[code]

in the end of deploy I got next error:

[code]

and run in system `systemctl status faye_staging.service`
[code]

How can I fix it?

[2018-07-03 09:51] olegsobchuk commented on #500
fixed by next command

`systemctl start faye_staging`

[2018-07-22 05:48] codeowl1 opened #501 "How to unsubscribe a client from the server?"
Hi there,

I have token based authentication in place, and I have an expiry on tokens.  If a token expires the user should no longer receive messages on channels they are subscribed to.  Is there a way from the server, to unsubscribe clients from channels so they no longer receive messages, when I detect an expired token?

Thanks for your time.

[2018-08-16 20:32] CodeByMomo opened #502 "Faye (1.2.4) does not work with jruby-9.2.0.0"
I've tried using the following simple ruby code on jruby-9.2.0.0 to authenticate with salesforce via Restforce(3.0.1) gem then try to subscribe to a push topic and it doesn't work and I get an error. See the steps to reproduce below with my expected behavior and actual behavior.

Note if needed I can add steps for the "Streaming API Developer Guide" part. Or maybe change to use another streaming a

[2018-08-23 16:40] richardshergold opened #503 "problem on iOS 10.1.1"
I've not had any problems with this library at all on all sorts of devices and OS versions (our app is an Ionic / Cordova app) but today on an iOS 10.1.1 when I subscribe e.g

`this.feedSubscription = this.client.subscribe(url,function(message) {});`

I get an error:

`SecurityError (DOM Exception 18): The operation is insecure.`

Any idea why that might be happening?

[2018-08-30 11:15] Neso opened #504 "Suppress exceptions"
Is it possible to have option on initialisation to suppress exceptions from Faye.

[2018-09-01 08:35] codeowl1 opened #505 "How to optimize faye back into a single minified file, now that it uses RequireJS?"
Hi there,

I see Faye now uses RequireJS.  I want to minify it down to a single file so it is only a single http request to use it in the browser.  I have attempted to do this using RequireJS optimizer but have not been successful.
My attempt is documented [here](https://stackoverflow.com/questions/52125858/using-requirejs-with-node-to-optimize-creating-single-output-file-does-not-inclu).

How can

[2018-09-13 15:14] vanjabucic commented on #497
bump..
Any input would be appreciated @jcoglan

[2018-10-16 14:09] richardshergold opened #506 "ReferenceError __jsonpXX__ is not defined (on Android only)"
I'm using the FAYE library in an Ionic Framework project (Cordova) and have it running successfully on both iOS and Android.  However, on Android I sometimes get the following errors logged to my back-end crash reporting system (sentry.io):

`ReferenceError __jsonpXX__ is not defined
`

where XX could be any number and is always different.

Looking at my logs it appears these errors **ONLY** occur

[2018-10-16 14:37] richardshergold commented on #503
This turned out to be an issue on IOS 10.0, 10.1 and 10.2 only (all ok on iOS 9 and iOS 10.3+). It was fixed by making a change to the Content-Security-Policy in my index.html file.

[2018-10-16 14:37] #503 closed

[2018-10-17 02:17] dhulke commented on #492
Salesforce expects an authentication header with a previously requested access_token to be sent, which we set right after creating the client. This token will expire eventually. When it does, salesforce sends a `{"channel":"/meta/disconnect"}` followed by a `"advice":{"interval":0,"reconnect":"none"}`.
The correct behaviour here would be to request a new token and reconnect. To do that, I need to

[2018-11-20 18:10] rahulbca18 commented on #239
I am facing a issue with haproxy firest request is success and second or may be third will 404. My log files are
Nov 20 23:20:28 localhost haproxy[71081]: 127.0.0.1:34370 [20/Nov/2018:23:20:28.657] EAP vahan_tax_bck/vahan_ser8 0/0/0/89/89 200 1152 - - ---- 4/4/0/1/0 0/0 "POST /vahantaxws/vahantax HTTP/1.1"

Nov 20 23:20:40 localhost haproxy[71081]: 127.0.0.1:34600 [20/Nov/2018:23:20:40.878] EAP va

[2018-11-21 07:26] nasungtae opened #508 "ReferenceError: subscription is not defined"

[2018-11-21 07:36] #508 closed

[2018-11-21 07:36] nasungtae commented on #508
notting..

[2019-01-07 07:36] johnnieshlomo commented on #310
Hi, I am facing the exact same issue. I'm using Faye with eventmachine like so:
`EM.run do
      client = Faye::Client.new(@faye_url)
      puts "connected"
      publication = client.publish("/" + token, "result" => response(payment))
      publication.callback do
        puts "SUCCESS!"
        client.disconnect
        EM.stop_event_loop
      end
      publication.errback do |_error|
        p

[2019-02-12 14:06] samoliuk opened #510 "Question - ruby client"
Hello,

I'm trying to add faye to my app, the rails app is supposed to only publish a lot of messages.

How can I initialize a faye client once, outside the Event Machine, and publish with it when needed? Do something like

faye_initializer.rb
[code]

some class in app
[code]

I tried to do something like that, but it publishes message only one time.
Do I have to define a new Faye::Client instance

[2019-02-24 20:46] remoe opened #511 "Wrong versions breaks old package installations"
Faye has non restrictive versions in package.json:

https://github.com/faye/faye/blob/master/package.json#L16

This prevent to install old installations. The latest "tough-cookie" doesn't work with Node 0.12. No, I don't want to update nodejs :)

[2019-03-18 18:48] mgsococo commented on #510
See the bottom of https://faye.jcoglan.com/security/push.html

You do not need to create a full Faye client to simply publish, you can do it with simple HTTP requests with the correct information.

[2019-03-19 09:43] samoliuk commented on #510
Thanks for the confirmation @mgsococo, simple HTTP requests are what I ended up with.

[2019-03-19 09:43] #510 closed

[2019-04-09 21:00] davidmoshal commented on #251
just curious what the status of this is?
specifically, is there a way for clients to reconnect and get any missed messages?

[2019-05-17 11:08] viktomas opened #512 "Logging is missing in documentation"
Adding logger to the Faye library is not documented. People have had issues in the past to add logger #418 and I had the issue myself. The only reference to the logger setup is in [examples](https://github.com/faye/faye/blob/master/examples/public/index.html#L44) which doesn't seem enough to me.

I'm happy to add the documentation myself if maintainer can point me to appropriate page/position in d

[2019-06-10 13:56] jcoglan commented on #505
Releases of Faye still include a copy of the client as a single file, that will run in the browser without further compilation. If you want to compile it yourself from source, you need to run these commands in the repository root:

[code]

The resulting files should end up in the `build/client` directory.

[2019-06-10 15:23] jcoglan commented on #511
I keep the version ranges of my dependencies open as it means end users can get updates for my dependencies without me having to publish a new package. If you need a specific version of tough-cookie, you can specify that in your own `package.json`, for example:

[code]

This will install a version earlier than 3.0 into your project and will link `faye` to that version.

[2019-06-10 15:32] remoe commented on #511
Thanks!

[2019-06-10 15:32] #511 closed

[2019-06-10 22:25] jcoglan commented on #497
Hi, apologies for the delay on this. I have a different interpretation of the spec to the CometD authors in that, since the server essentially iterates over the messages and generates a response independently for each one (it's a `map` operation), sending an empty list is entirely valid and I'm not sure why their server special-cases it when the subsequent code would handle an empty list just fine

[2019-06-10 22:25] #497 closed

[2019-06-10 22:28] jcoglan commented on #512
Hi @viktomas, thanks for offering to improve our docs :)

To work on the docs, clone the repository and run the following commands:

[code]

The site will then be visible at `localhost:3000`. The source code for the site is in the `site` directory -- you'll probably want to edit something inside `site/src/pages`, which reflects the page structure of the site.

[2019-06-10 22:29] jcoglan commented on #504
Hi @Neso, sorry for my slow reply. Can you provide more detail about the exceptions you're seeing and why you need to suppress them?

[2019-06-10 22:38] jcoglan commented on #498
Hi @slprogrp, sorry for my slow reply. Since 1.2.4, the following commit has gone in to catch content security policy restrictions and recover from them, falling back to regular HTTP if `WebSocket` throws an error:

https://github.com/faye/faye/commit/0263dce4da30f664367145056055d95c7de2dec1

Are you able to let us know if this fixes the problem you're seeing?

[2019-06-10 22:40] jcoglan commented on #500
This seems like an issue with your deployment pipeline and/or process manager, rather than Faye itself -- can I close this issue?

[2019-06-10 22:45] jcoglan commented on #493
Hi @vecernik, sorry for my slow response. Are you still having this problem with version 1.2.4? The way our own webpack build is set up, it includes a module called `webpack/buildin/global.js` into the build, which binds `global` to the `window` object in compiled code. We didn't do anything special to request that, I believe webpack does it by default.

If you're not getting this file in your bui

[2019-06-10 22:47] jcoglan commented on #493
If you're having issues with how webpack compiles Faye from source, you can also use the pre-bundled minified file from the `faye` package -- the file you want is named `faye-browser-min.js`. We include this browser-ready version alongside the full source code.

[2019-06-11 08:25] #500 closed

[2019-06-11 10:33] jcoglan commented on #495
Sorry for my slow reply. I think this is out of scope for Faye; if you want local pub/sub functionality there are much simpler ways of achieving that without using this library.

It's also a very different problem space from doing this over the network. For example, you might want messaging between objects in the same runtime, or messaging between workers, or between different instances of your ap

[2019-06-11 11:04] jcoglan commented on #506
The JSON-P transport works by defining a function named `__jsonpXX__` and then injecting a `<script>` tag to make the request to the server, which will generate a JavaScript payload that invokes the given function with the response data, i.e. `__jsonpXX__(response)`. If you're seeing these errors it means those scripts are arriving but the function they're calling is no longer defined.

This could

[2019-06-11 14:15] Neso commented on #504
Hi @jcoglan I will post stack trace, the main reason I would like them suppressed is because occasionally they are flaring in our error dashboards.

[2019-06-11 14:21] vecernik commented on #493
with faye-1.2.4, I still need self['global'] = self manual polyfill for a browser in Typescript (angular8) project for a use in import { Client } from 'faye'.

[2019-06-11 14:22] Neso commented on #504
And this was not coming from our local codebase, and stack traces were pointing to faye library.

[2019-06-11 14:32] jcoglan commented on #502
I've managed to narrow this down to an issue in http_parser.rb's Java code, and I've opened a pull request for it: https://github.com/tmm1/http_parser.rb/pull/63

Unfortunately I've not managed to find a workaround using monkey-patching to amend the affected method, as it requires changing the native code which we don't have access to at runtime.

[2019-06-11 14:36] jcoglan commented on #502
In the meantime, em-http-request continues to work on all recent MRI Ruby versions, and we also have a Node.js version of Faye, if you need an alternative way of connecting to the Salesforce API.

[2019-06-11 14:40] jcoglan commented on #493
If you run the following command in the Faye repo, do you see the `global.js` module included?

[code]

[2019-06-11 14:41] jcoglan commented on #504
This sounds like an actual bug that we should investigate, rather than silence the error. Do you have any more context, or a complete stack trace for the error?

[2019-06-11 15:26] Neso commented on #504
I have investigated and haven't identified any adverse behaviours to the best of my expectations it is happens and then lib recovers the call. And it would appear that all messages eventually get trough. Also worth noting is that we have never noticed this in dev or qa environments but only got it reported to new relic from select number of users.

[2019-06-11 16:08] jcoglan commented on #501
This is possible using a server-side extension. As well as the `/meta/subscribe` channel that clients use to register new subscriptions, there's the `/meta/connect` channel that they use to poll for messages -- even if using WebSocket, clients must send this message periodically to keep its session alive.

You can put an authorisation check on this channel by adding an extension on the server side

[2019-06-11 16:29] jcoglan commented on #504
Nevertheless, it should never be the case that the client is attempting to call this method on a null reference, so if you have any further info do send it our way :)

[2019-06-11 16:43] Neso commented on #504
Sorry that's the best I can offer. As this was logged in new relic and I don't have any more info to offer.

[2019-06-11 16:44] jcoglan commented on #496
@vbalas Hi, is this an ongoing issue for you, or can I close this issue?

[2019-06-11 17:40] jcoglan commented on #494
Hey @alongley, thanks for helping folks with this question :)

Is this an ongoing issue, or can I close it? For the record, I've tried to arrange things so that Faye is not responsible for SSL concerns -- that should be handled by the app server that you use to run it, or by a reverse proxy like nginx or apache. However it does still cause some issues, so if there's something we can improve, I'd l

[2019-06-11 17:53] jcoglan commented on #487
To answer your last question, we should not do this: the client must not have multiple `/meta/connect` requests in flight at a time, and so should not send this message more frequently than the server has told it to. In particular it should not send a `/meta/connect` message until it's received a response to the last one.

We have actually had to remove the "client-side ping" technique of sending

[2019-06-11 17:53] jcoglan commented on #479
Did you have any further questions, or can I close this issue?

[2019-06-11 18:01] jcoglan commented on #478
You should be able to use it, as far as I know, although as I said we don't have specific experience with React Native and don't test specifically for it. `import faye from 'faye'` should give you the client-side library, if you're building with webpack.

Is this an ongoing issue, or can I close it?

[2019-06-11 18:03] jcoglan commented on #475
As I didn't get a response to my last question I'm going to assume this is resolved and close it. However if this is still a problem, please leave more comments and I'll take a look :)

[2019-06-11 18:03] #475 closed

[2019-06-11 18:03] jcoglan commented on #472
I'm going to close this issue due to lack of response, and because it's out of scope -- we don't maintain faye-rails.

[2019-06-11 18:03] #472 closed

[2019-06-11 18:04] jcoglan commented on #471
I'm going to close this as there were no responses to my last question. If you still need help, please leave more comments and I'll take a look :)

[2019-06-11 18:04] #471 closed

[2019-06-11 18:12] jcoglan commented on #464
As I didn't get a response to my last question, I'm closing this issue, but please do let me know if there's anything further you'd like to add.

[2019-06-11 18:12] #464 closed

[2019-06-11 18:14] jcoglan commented on #462
I'm going to close this issue due to lack of feedback, but I'll keep it in mind for future development as I'm working on developing a bunch of stock extensions to handle common auth workflows.

[2019-06-11 18:14] #462 closed

[2019-06-11 18:19] jcoglan commented on #310
@johnnieshlomo it looks like you're stoping EventMachine yourself inside the `publish` callback, which will definitely break the client.

[2019-06-11 18:21] jcoglan commented on #251
@davidmoshal if a client becomes disconnected for significantly longer than the server's `timeout` setting, then its session will be destroyed and any messages it missed will be lost. If it reconnects before its session is deleted it should still receive everything.

[2019-06-11 21:46] mspensieri commented on #487
You can close the issue, thanks

[2019-06-11 21:46] #487 closed

[2019-06-13 06:45] letsgotomars commented on #495
No worries on the late response I figured this was probably out of scope. We were able to easily implement a wrapper around Faye that addressed this use-case.

[2019-06-13 06:45] #495 closed

[2019-06-13 16:50] mirono commented on #493
I have a similar issue with production build. In my case I use it in Vue application. The development build is working correctly, but the production build is not getting any messages. The console prints that subscribe was ok but messages never arrive. Same code in development (using the same faye node server) works ok.
It has something to do with the packing to the dist folder.

[2019-06-14 11:02] jcoglan commented on #493
In order to make progress with this I need someone to find out whether webpack is including `webpack/buildin/global.js` in their build, and if not, why?

[2019-06-15 08:21] mirono commented on #493
I'll be happy to assist, just tell me what/how to do.
BTW: In my case, when I removed client.disable('websocket') it also worked in production. With this line it only worked in dev.

[2019-08-06 03:26] laeeqkhan01 opened #514 "Example Client and Server don't connect over https"
I am trying to run example faye client and server in faye/example/node.
They work beautifully on HTTP, but when I run it on HTTPS client reports  [CONNECTION DOWN]

node   server.js   4000  tls
Listening on 4000 (https)
[  SUBSCRIBE] if2wit9ixsd8zxfrfb2xk30nqjl7xuw -> /chat/*

node  client.js  4000  bayeux   tls
Connecting to https://localhost:4000/bayeux
[CONNECTION DOWN]

Could I be doing anythi

[2019-08-07 00:08] dhulke commented on #433
Are are messages replayed in unpredictable order? Is that a behavior of the protocol?

[2019-10-22 15:57] Xsmael opened #516 "Channel max length"
Hello,

What is the maximum length for any channel string ?
And can we extend it ?

[2019-12-19 16:44] Munavvarhusen commented on #498
Here are 2 changes that helped me fix the issue and establish a localhost WebSocket connection.

 1. In the Control Panel - Internet Option, select the Security Tab. In the Security tab, select Local intranet zone. Click on Sites button and uncheck all checkboxes in Local intranet dialog. OR
 2. In the Control Panel - Internet Option, select the Security Tab. In the Security tab, select Local intr

[2020-02-13 11:11] Xsmael opened #518 "Does faye have reserved channels ? like "/service" for example"
Hi,
I spent a huge time before getting around a strange behaviour.
In my faye server i am logging subs and unsubs

but when i subscribe to channel '/service/*' there is no mention of that in logs and i dont receive data published on that channel. but if i change it to something like '/serviiiiice/*' or any other thing, it works.
This is the first time i encounter this, so i wanted to post it here.

[2020-02-13 11:19] jcoglan commented on #518
Hi there, yes, the channel namespace `/service/**` (as well as the `/meta/**` namespace) is reserved and clients are not allowed to subscribe to those channels. This is a requirement of the [Bayeux protocol](https://docs.cometd.org/current/reference/#_concepts_bayeux_protocol).

[2020-02-13 11:56] jcoglan commented on #516
There's no built-in restriction on channel name length, I don't think. Are you observing something that suggests there is a limit?

[2020-02-13 16:54] Xsmael commented on #516
Not really, but at the time i was asking the question i had a challenging problem that could easily be addressed using faye, but would make dynamic very long channel names...

[2020-02-13 16:58] Xsmael commented on #518
Oh, then it all makes sense now. Not knowing that made me go crazy and waste couple hours, thanks for the second one which I also didn't know.

[2020-02-13 16:58] #518 closed

[2020-02-13 16:58] #516 closed

[2020-02-14 11:17] jcoglan commented on #478
As this issue has not been replied to in a long time, I am going to close it, but please do re-open if you have further information :)

[2020-02-14 11:17] #478 closed

[2020-02-14 11:18] jcoglan commented on #479
I'm going to close this issue due to lack of responses, but please re-open it if you'd like to continue the discussion :)

[2020-02-14 11:18] #479 closed

[2020-02-14 11:22] jcoglan commented on #493
@mirono Sorry for my delayed response. If you're still having a problem with this, clone this repo and run:

[code]

The output should include this line:

[code]

If the issue is resolve, please close it :)

[2020-02-14 11:23] jcoglan commented on #494
I'm going to close this issue due to lack of responses, but please re-open it if you'd like to continue the discussion :)

[2020-02-14 11:23] #494 closed

[2020-02-14 11:24] jcoglan commented on #496
I'm going to close this issue due to lack of responses, but please re-open it if you'd like to continue the discussion :)

[2020-02-14 11:24] #496 closed

[2020-02-14 11:26] jcoglan commented on #498
@slprogrp Can you confirm whether the above commit fixes this issue? I'd like to cut a release and will have to close this issue if I don't get a confirmation soon.

[2020-02-14 11:27] jcoglan commented on #501
Does the above message answer your question, @codeowl1 ? Can I close this issue?

[2020-02-14 11:38] jcoglan commented on #504
I'm going to close this, since absent any more information on the source of this exception we can't really do much about it. In any case, I don't believe suppressing exceptions is the right thing to do, especially not in libraries, plus in order to suppress an exception we'd need to know where it was coming from. I'm sorry I can't take this any further.

[2020-02-14 11:38] #504 closed

[2020-02-14 11:39] jcoglan commented on #505
Is this an ongoing issue, or can I close it, @codeowl1 ?

[2020-02-14 11:43] jcoglan commented on #512
@viktomas Hi, were you able to make any progress on this? Is there anything else I can help with?

[2020-02-14 11:45] jcoglan commented on #514
Hi @laeeqkhan01, it's possible this was failing due to the SSL certificates in the repository being out of date. I have just pushed new ones to `master` so this should now work. Could you please check and confirm for me?

[2020-02-14 12:52] jcoglan commented on #506
Hi @richardshergold, did you manage to investigate this issue further?

[2020-02-14 13:08] jcoglan commented on #492
Is this an ongoing issue, or can I close it, @swati410?

[2020-02-14 14:00] richardshergold commented on #506
@jcoglan no!  we get these errors a lot but only from Android devices.  No idea why they occur and what we could do to stop them. If you know any more, please share!

[2020-02-14 14:06] jcoglan commented on #506
My only guess is that this is a latency problem and the functions are being removed before the server response arrives. You could try deleting these lines and see if that makes a difference:

https://github.com/faye/faye/blob/d3166edc392614f1af696d03db18f26153886331/src/transport/jsonp.js#L30-L31

If it does, then we could add a delay to this clean-up to allow the server more time to respond. Alth

[2020-02-14 14:08] richardshergold commented on #506
@jcoglan thanks - I will try that although it won't be for another week or so until I get onto it.

[2020-02-14 22:00] codeowl1 commented on #501
Yes that is perfect thanks, much appreciated.

[2020-02-14 22:01] codeowl1 commented on #505
Yes that solved the issue, thanks very much.

[2020-02-14 23:09] #501 closed

[2020-02-14 23:09] #505 closed

[2020-02-16 23:44] slprogrp commented on #498
I think given that Edge has moved to Chrome engine, the issue no longer happens and so is as good as solved.
Thanks for following up ;-)

[2020-02-17 10:30] #498 closed

[2020-05-20 03:01] harishkpv opened #520 "Error: 'Cookie not in this host's domain' faye when connecting to CometD over gateway/proxy like APIGEE"
Hi,

We have use case, where we need to connect to CometD over APIGee. When directly connecting to CometD, it works without any issues. However, when I go over APIGee, get an error " Cookie not in this host's domain". Is there a way to add the cookie returned via handshake?

Thanks!

[2020-05-20 19:25] jcoglan commented on #520
Which version of the Faye client are you using -- Ruby, Node.js, or browser?

Are you able to share the domain of the APIGee/CometD service you're connecting to, and the `Domain` attribute of the `Set-Cookie` header that's being rejected?

[2020-05-22 16:23] #512 closed

[2020-05-22 16:26] jcoglan commented on #514
Hi @laeeqkhan01, I've not had any response to this and I believe updating the SSL certificates has fixed this problem, so I'm going to close this issue. Do please re-open it if it requires further attention.

[2020-05-22 16:26] #514 closed

[2020-05-22 16:28] jcoglan commented on #506
Hi @richardshergold, did you manage to make any progress with this issue?

[2020-05-22 16:29] jcoglan commented on #492
As I've not had a response to my last command, I'm going to close this issue, but please re-open it if it requires more attention :)

[2020-05-22 16:29] #492 closed

[2020-05-22 17:07] richardkshergold commented on #506
@jcoglan I'm really sorry I have not got round to trying out your suggestion - I will make a note to try this soon and promise to get back to you. Thanks!

[2020-06-08 15:45] jcoglan commented on #464
Just letting you know that the newly-released version 1.3.0 allows cross-origin requests to set cookies and enables this in the client.

[2020-06-08 15:48] jcoglan commented on #477
Just letting you know that the fix for this issue has finally been released in version 1.3.0.

[2020-06-08 15:50] jcoglan commented on #484
Just letting you know that the fix for this issue has finally been released in version 1.3.0.

[2020-06-08 15:51] jcoglan commented on #497
Just letting you know that the fix for this issue has finally been released in version 1.3.0.

[2020-06-08 23:48] msrivastav13 opened #521 "failed: Cannot find module './extend'"
I have a vscode extension that depends on this module.

Since 1.30 release i get this when my compile fail and it traces back to this module

`Activating extension 'MohithShrivastava.dx-code-companion' failed: Cannot find module './extend`

Require stack:
- /Users/mohith/Desktop/CodeCompanion/dx-code-companion/node_modules/faye/src/util/class.js
- /Users/mohith/Desktop/CodeCompanion/dx-code-compan

[2020-06-09 00:22] jcoglan commented on #521
Can you paste the contents of `/Users/mohith/Desktop/CodeCompanion/dx-code-companion/node_modules/faye/src/util/class.js` and the output of `tree /Users/mohith/Desktop/CodeCompanion/dx-code-companion/node_modules/faye/src`, and check what version is declared in `/Users/mohith/Desktop/CodeCompanion/dx-code-companion/node_modules/faye/package.json`?

[2020-06-09 00:36] msrivastav13 commented on #521
`'use strict';

var assign = require('./assign');

module.exports = function(parent, methods) {
  if (typeof parent !== 'function') {
    methods = parent;
    parent  = Object;
  }

  var klass = function() {
    if (!this.initialize) return this;
    return this.initialize.apply(this, arguments) || this;
  };

  var bridge = function() {};
  bridge.prototype = parent.prototype;

  klass.prototyp

[2020-06-09 08:56] jcoglan commented on #521
So the source code on disk has `require('./assign')`, which doesn't correspond to the error you're seeing. Are you running anything that might have cached the old version in memory, for example a Webpack build process?

[2020-06-15 02:11] #521 closed

[2020-06-15 02:11] msrivastav13 commented on #521
May be this was cache! Thanks for help and response

[2020-06-26 00:39] houssembenjemia commented on #485
i have the same problem ..what  is was the fix,

[2020-06-30 20:19] bds opened #522 "CVE-2020-13482: [WARNING; em-http-request] TLS hostname validation is disabled (use 'tls: {verify_peer: true}')"
Thank you for this project.

I am receiving this warning using `faye (1.3.0)` and `em-http-request (1.1.6)`

[code]

Adding `verify: true` to this file seems to silence the error:

https://github.com/faye/faye/blob/8d9ac16bc418b3802c6a5356b827a5735e7e74b0/lib/faye/transport/http.rb#L53

[code]

[2020-06-30 22:04] ioev commented on #506
Just wanted to chime in and mention that I'm seeing these errors as well.  We have an application that is available on an internal network, and also over a vpn appliance.  100% of the errors we are seeing are through this vpn, and 99.9% are on mobile (there are just a very few Windows 10/Chrome machines.)  Users are typically using mobile when accessing through the vpn so this makes sense.  It wou

[2020-07-01 18:55] jcoglan commented on #522
@bds I will be deleting this issue shortly -- please read my edited version of the issue description and contact me to discuss further.

[2020-07-13 22:38] ashish-sjc opened #523 "Address https://github.com/igrigorik/em-http-request/pull/340"
Are there plans to release a new version with a patch from : https://github.com/igrigorik/em-http-request/pull/340

[2020-07-13 22:56] jcoglan commented on #523
@ashish-sjc Since this concerns a security issue I would rather it were disclosed and discussed in private. Please email me at `jcoglan@gmail.com`, using the PGP key:

[code]

I will be deleting this issue shortly and am only posting this reply so that it reaches your inbox.

[2020-07-13 22:56] #523 closed

[2020-07-19 21:22] jcoglan opened #524 "Address em-http-request warnings about `verify_peer`"
[EventMachine][em] supports making TCP connections via the
[`EM.connect`][em-connect] method. Once the connection is established, the
client can initiate a TLS session over the socket by calling
[`EM::Connection#start_tls`][em-start-tls]. This method _does not_ verify the
server's identity by default, but it does accept an option named `verify_peer`.
If this is set, the connection will invoke
[`EM

[2020-07-20 16:00] jcoglan commented on #524
I'm going to tag a few people here that might have useful opinions on how we can improve the current situation with SSL verification in EventMachine, which has led to these problems existing:

- @igrigorik, maintainer of em-http-request
- @mislav, author of the original patch in Faraday
- @SpComb and @sodabrew who participated in https://github.com/faye/faye-websocket-ruby/pull/101, a previous att

[2020-07-20 18:50] SpComb commented on #524
Hi,

I'm flattered by your recognition of my supposed great knowledge about SSL :smile: However it's been a long time since I dealt with this issue, and I'm no longer really actively involved in anything related to ruby. Unfortunately, the issues being dealt with here are also very much specific to EventMachine, and I am very much not an expert in EventMachine.

The relevant part of my kontena-web

[2020-07-20 19:12] jcoglan commented on #524
@SpComb Thank you so much for having a look at this. Just to check I've understood what `preverify_ok` means: is that there are checks `openssl` does itself, before delegating to the application via `verify_callback`? And if `verify_callback` ignores `preverify_ok` then those built-in checks are ignored?

Is there a reason `verify_callback` is even allowed to do this, rather than `openssl` failing

[2020-07-20 21:18] SpComb commented on #524
Yes. These are checks like "does the signature on the certificate actually match the public key from the issuer certificate".

I had a go at the `em-http-request` implementation, testing it against `openssl s_server` with various invalid certificate chains, and the furthest that I got was a certificate signed by a custom fake CA cert with an issuer/subject matching a real trusted CA:

[code]

Test

[2020-07-31 10:49] DanielMorsing commented on #524
I took at look at the chain of events with the TLS verification and I think ignoring `preverify_ok` is fine. If you use custom roots for your TLS connection, `preverify_ok` would be called with 0, making verification fail. Since the EventMachine code cannot know what kind of verification the user might do, it has to blindly pass it to the implementer.

em-http-request passes the certificate back i

[2020-07-31 16:51] jcoglan commented on #524
This has now been resolved with the release of v1.4.0 of this package. Full details are [on my blog](https://blog.jcoglan.com/2020/07/31/missing-tls-verification-in-faye/).

[2020-07-31 16:51] #524 closed

[2020-08-18 00:55] odradek71 opened #525 "minor documentation issue, push only servers"
The documentation page describing push-only servers has a code example with
server.addExtension({ ... });

but I believe 'server' refers to the bayeux server here, where in the other documentation pages the variable 'server' refers to the http server.
var server = http.createServer()

just for clarity, might be helpful to use the same variable names as the other pages.

[2020-08-18 02:52] odradek71 commented on #525
also for the push-only server example code, I had to make this change

      var password = message.**data**.ext && message.**data**.ext.password;
      if (password !== secret)

[2020-08-18 02:52] odradek71 commented on #525
also for the push-only server example code, I had to make this change

      var password = message.**data**.ext && message.**data**.ext.password;
      if (password !== secret)

[2020-08-18 02:52] odradek71 commented on #525
also for the push-only server example code, I had to make this change

      var password = message.**data**.ext && message.**data**.ext.password;
      if (password !== secret)

[2020-08-18 02:53] odradek71 commented on #525
also for the push-only server example code, I had to change message.ext to message.data.ext

      var password = message.data.ext && message.data.ext.password;
      if (password !== secret)

[2020-08-18 02:53] odradek71 commented on #525
also for the push-only server example code, I had to change message.ext to message.data.ext

      var password = message.data.ext && message.data.ext.password;
      if (password !== secret)

[2020-08-18 02:54] odradek71 commented on #525
also for the push-only server example code, I had to change message.ext to message.data.ext

[code]

[2020-09-19 16:08] odradek71 commented on #525
~~also for the push-only server example code, I had to change message.ext to message.data.ext~~

~~var password = message.data.ext && message.data.ext.password;~~
~~if (password !== secret)~~

I dug a bit further and have to admit this was my misunderstanding of how the password should be added.  When I was trying to add the password via the client.publish() arguments it was showing as a property

[2020-10-13 11:17] imi56 opened #526 "Faye requesting an insecure script <URL>"
I'm was exploring `faye` to implement `websocket` feature but got stuck due to following issue.
**The page at <URL> was loaded over HTTPS, but requested an insecure script [http://xyz/faye?message=[{"channel":"/meta/handshake","version":"1.0","supportedConnectionTypes":["websocket","eventsource","long-polling","cross-origin-long-polling","callback-polling"],"id":"1"}]&jsonp=__jsonp1](). This reque

[2020-10-13 16:18] jcoglan commented on #526
What's the code you're using to start the connection to the Faye server?

[2020-10-13 19:06] #526 closed

[2020-10-13 19:09] imi56 opened #527 "Unexpected error while processing request: uninitialized constant EventMachine::Deferrable::Rails"
`faye` server is throwing the following error **uninitialized constant EventMachine::Rails (NameError)** on connection.
In the browser getting **WebSocket connection to 'wss://xyz.com/faye' failed: Error during WebSocket handshake: Unexpected response code: 502**
This problem is somewhat similar to [this issue](https://github.com/eventmachine/eventmachine/issues/773) but no hlep.
[code]
Gem versio

[2020-10-13 19:15] jcoglan commented on #527
Neither EventMachine nor Faye refers to `Rails` anywhere in their codebases. Have you bound any event listeners to Faye that depend on anything from Rails or your application?

[2020-10-13 19:46] imi56 commented on #527
No. Just establishing the connection and alerting the receiving data.
Here is the coffee code.
[code]

[2020-10-13 19:59] imi56 commented on #527
Actually when page loads `faye` server is getting killed. The very first error is
**Unexpected error while processing request: uninitialized constant EventMachine::Deferrable::Rails**
followed by **uninitialized constant EventMachine::Rails**
Full trace:
[code]

[2020-10-13 20:56] jcoglan commented on #527
None of the lines in this backtrace refer to the constant `Rails`, but a lot of them are concerned with running callbacks that will yield to user-supplied code. Your Faye server setup code does not appear to reference anything from Rails, or load application code, and does not set up any event listeners or extensions:

[code]

The one problem I can see with this is that it sets the `timeout` to `4

[2020-10-14 00:43] imi56 commented on #527
Updated the `faye.ru`
[code]
Ran the server in both ways but the same issue popping up on page load.

1. `thin -p 9292 -t 60 -R faye.ru start`
2. `rackup faye.ru -s thin -E production`

[2020-10-14 09:43] imi56 commented on #527
Yes, you were right, while debugging other issues, there was some bad code left in the gem.
Sorry to bother you, and thanks for quick responses.

[2020-10-14 09:43] #527 closed

[2020-11-17 19:15] anon-eng opened #528 "IE11 Security Error on first client subscribe method."
I'm seeing intermittent SecurityError exceptions in IE11 (11.959.18362.3) on Windows10Pro.

When they occur, they seem to happen consistently for 10-20 refreshes, and then spontaneously they stop and are no reproducible at all.

Currently using Faye 1.2.4 but also saw the issue when I used the current (1.4.0)

Simple reproducible js code (when it happens):
[code]

IE11 Throws a SecurityError in th

[2021-02-08 10:33] eriko-de commented on #323
For people looking into this on a recent version, the asset load path is now wrong and need to be adjusted as the js files are now in '/build/client/*'

We were able to fix it by changing it to:

[code]

[2021-02-09 07:07] nVitius opened #529 "Faye Buffering/Re-sending"
In the web client documentation, there is a section that says:

I couldn't find any other place in the docs that talked about how Faye handles this.

[2021-02-12 23:46] jcoglan commented on #529
Hi @nVitius, I'd like to better understand what's confusing about this documentation -- what questions do you have that it could answer more clearly? What's missing from it? Where in the docs would you expect to find this topic covered?

I was wondering if it's the use of the word "remember" in particular that suggests this is explained elsewhere, or if it's just that this topic is not explained s

[2021-02-13 03:12] nVitius commented on #529
@jcoglan Thanks for the reply, I appreciate it.
The quote that I referenced is on the [Network Errors](https://faye.jcoglan.com/browser/transport.html) section of the browser client documentation.

I was trying to think through the flow my application would go through, but I wasn't clear on what to expect when a client lost connection. The doc there talks about how Faye handles re-sending messages

[2021-03-12 04:28] davidmoshal commented on #529
I too would like to better understand this.
Have been using Faye in production for 10+ years, but recently have noticed that messages are missed over wifi.

I was surprised by this, because I was expecting Faye to buffer and resend.
Any thoughts on how to debug dropped messages would be appreciated, and/or suggestions how to tune the buffering/resending if this is possible.

Thanks for a great lib

[2021-03-25 23:46] nVitius commented on #529
@jcoglan Just pinging you on this.

[2021-04-08 01:53] davidmoshal commented on #529
+1

[2021-04-22 01:49] slprogrp opened #531 "How to stop retries"
Hi there,

I have a scenario where I need to say if the server can not be found, then use a different mode.  So I publish a message when the page loads and handle the transport:up and transport:down events.  I set a flag to say if transport is up or down based on which event gets raised.  If transport:down is raised I start a timer and when the timer executes if the transport is not up, I need to

[2021-04-22 06:39] jcoglan commented on #531
The `transport:{up,down}` events are informational and should not be used to drive business logic, especially not for delivery correctness. You should take a look at the [scheduler docs](https://faye.jcoglan.com/browser/dispatch.html) which explain how to override how deliveries and retries work.

[2021-05-13 11:24] urkishan opened #532 "ruby 2.6.5p114 : CPU goes to 100% and connect stops without error"
I am using eventmachine and faye in my project and I am facing this issue the eventmachine and faye take 100% of CPU as I increases the CPU from 4 CPU to 8 CPU on AWS but still facing this issue.

I have also raised this issue on eventmachine, as I am not getting any response from them https://github.com/eventmachine/eventmachine/issues/944

[2021-05-24 22:54] jcoglan commented on #532
We recently released a new version of `websocket-driver` containing some optimisations that reduce the amount of allocation and copying done when it's parsing and serialising WebSocket frames. I don't know if this is the source of your problem but it would be worth upgrading to see if it makes a difference, as others have found it useful.

[2021-07-20 10:13] davebleekerpm opened #533 "Cannot read property 'sendMessage' of undefined"
Our bug tracking system is reporting "Cannot read property 'sendMessage' of undefined" coming from the faye library.
This does not happen everytime or for all users or on a specific action or message.

The full stack we have so far is:

Error: Cannot read property 'sendMessage' of undefined
at c._sendEnvelope in

Upon further investigating we found that the error was either that _transport or disp

[2021-07-20 16:07] jcoglan commented on #533
It looks like you're referring to the [Dispatcher._sendEnvelope() function](https://github.com/faye/faye/blob/1.4.0/src/protocol/dispatcher.js#L109-L129). This has a guard the start to check that `this._transport` exists, and the call to `this._transport.sendMessage()` is synchronous with that guard. You'd need to find a way for `this._transport` to become unset between the guard passing and `send

[2022-02-19 18:55] odradek71 opened #534 "websocket instance error handler"
I had a server crash due to ECONNRESET which I cannot reproduce and I have theorized was caused by client protocol error.  I was concerned if when faye creates websocket instance it needs to add an error listener, as described here https://github.com/websockets/ws/issues/1256
Thanks! I love faye!

[2022-02-19 23:35] jcoglan commented on #534
We do add an `error` event handler in the [_configureStream()](https://github.com/faye/faye-websocket-node/blob/0.11.4/lib/faye/websocket/api.js#L130) method. This is called from [the API constructor](https://github.com/faye/faye-websocket-node/blob/0.11.4/lib/faye/websocket/api.js#L54), which itself is called from the server-side [WebSocket constructor](https://github.com/faye/faye-websocket-node

[2022-02-19 23:39] jcoglan commented on #534
It's also worth checking the driver's `error` events which are caught [here on the server side](https://github.com/faye/faye-websocket-node/blob/0.11.4/lib/faye/websocket/api.js#L39-L42) and [here on the client side](https://github.com/faye/faye-websocket-node/blob/0.11.4/lib/faye/websocket/client.js#L20-L25).

On the server, we add a do-nothing `error` listener so that `error` events don't crash

[2022-02-20 18:00] odradek71 commented on #534
Thanks very much for the quick response and for highlighting these sections of the code.  I will monitor these events as you suggest and if I find anything of note I'll post again!

[2022-02-20 18:00] #534 closed

[2022-03-31 09:42] dtto86 opened #535 "Queries on _handleAdvice function"
Hi

On reception of ```{"advice":{"interval":0,"reconnect":"handshake"},"channel":"/meta/connect","id":"5p","error":"403::Unknown client","successful":false}``` error from Salesforce.com, client calls `_handleAdvice` function https://github.com/faye/faye/blob/master/src/protocol/client.js#L353 and creates new client and new subscription on a topic with replayId.

My questions are
1. Why faye clien

[2022-05-15 16:34] dorianmariefr opened #537 "Using cookiejar2 fork?"
Hi, I made a fork to fix warnings, what do you think of adding it as a dependency?

https://rubygems.org/gems/cookiejar2

https://github.com/dorianmariefr/cookiejar2

See https://github.com/dwaite/cookiejar/pulls

And https://github.com/dwaite/cookiejar/commit/5f85661eb661673460e7ad1a04a98111566e2537 that was not released

See https://github.com/igrigorik/em-http-request/issues/354 for the other d

[2022-05-15 17:06] jcoglan commented on #537
What does this change compared to `cookiejar` and how does it affect the `faye` package?

[2022-05-15 18:28] dorianmariefr commented on #537
It's mainly the warning that it's fixed for now but I could merge the open pull request, would need to review them. Including one for having cookies apply to subdomains of subdomains

[2022-07-27 09:01] brendon commented on #493
This is also an issue in Vite (at least in dev mode - esbuild). Haven't checked what it builds out like in production mode.

Without Webpack helping (I'm trying to transition from Webpack to Vite as I write this), would a polyfill like `self['global'] = self` be required?

[2022-07-27 09:23] brendon commented on #493
Just to follow up, I am only using Faye in one particular part of my Rails app that has its own layout, so I just added `<script>window.global = window</script>` into the header and all is well. I wonder if a something like that could be added to `faye_browser`?